@charset "UTF-8";
@font-face {
  font-family: NtSansKR;
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/NotoSans-Regular.eot");
  src: url("../fonts/NotoSans-Regular.eot#iefix") format("embedded-opentype"), url("../fonts/NotoSans-Regular.woff2") format("woff2"), url("../fonts/NotoSans-Regular.woff") format("woff"), url("../fonts/NotoSans-Regular.otf") format("opentype"); }
@font-face {
  font-family: NtSansKR;
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/NotoSans-Medium.eot");
  src: url("../fonts/NotoSans-Medium.eot#iefix") format("embedded-opentype"), url("../fonts/NotoSans-Medium.woff2") format("woff2"), url("../fonts/NotoSans-Medium.woff") format("woff"), url("../fonts/NotoSans-Medium.otf") format("opentype"); }
@font-face {
  font-family: NtSansKR;
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/NotoSans-Bold.eot");
  src: url("../fonts/NotoSans-Bold.eot#iefix") format("embedded-opentype"), url("../fonts/NotoSans-Bold.woff2") format("woff2"), url("../fonts/NotoSans-Bold.woff") format("woff"), url("../fonts/NotoSans-Bold.otf") format("opentype"); }
@font-face {
  font-family: Syncopate;
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Syncopate-Regular.eot");
  src: url("../fonts/Syncopate-Regular.eot#iefix") format("embedded-opentype"), url("../fonts/Syncopate-Regular.woff2") format("woff2"), url("../fonts/Syncopate-Regular.woff") format("woff"), url("../fonts/Syncopate-Regular.otf") format("opentype"); }
@font-face {
  font-family: Syncopate;
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Syncopate-Bold.eot");
  src: url("../fonts/Syncopate-Bold.eot#iefix") format("embedded-opentype"), url("../fonts/Syncopate-Bold.woff2") format("woff2"), url("../fonts/Syncopate-Bold.woff") format("woff"), url("../fonts/Syncopate-Bold.otf") format("opentype"); }
body, h1, h2, h3, h4, h5, h6, p, th, td, ul, button, form, input {
  margin: 0;
  padding: 0; }

h1 {
  font-size: 100%; }

ul {
  list-style: none; }

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit; }

button {
  border: none;
  background: none;
  cursor: pointer; }

input, button, textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  line-height: inherit;
  border: none; }

img {
  vertical-align: top;
  border: none; }

img, figure {
  max-width: 100%; }

/* table{border-style: 0;border-collapse: collapse;} */
caption {
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: none;
  margin: -1px;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%); }

header, nav, section, footer {
  display: block; }

.f_l {
  float: left; }

.f_r {
  float: right; }

.p_r {
  position: relative; }

.p_a {
  position: absolute; }

.clearfix::after {
  content: "";
  display: block;
  clear: both; }

.blind-b {
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: none;
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%); }

.wid1280 {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto; }

.wid360 {
  max-width: 360px;
  width: 100%;
  margin: 0 auto; }

.btn_more {
  display: inline-block;
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: url("../images/main/btn_more_black.svg") no-repeat center; }

.txt_grey {
  font-size: 16px;
  line-height: 24px;
  color: #595959;
  font-weight: 700; }

.txt_line {
  text-shadow: -1px -1px 0 #595959, 1px -1px 0 #595959, -1px 1px 0 #595959, 1px 1px 0 #595959;
  color: #333333; }

body {
  background: #222;
  font-family: Syncopate, NtSansKR, Sans-serif, "맑은 고딕", "Malgun Gothic";
  font-size: 16px;
  color: #e5e5e5;
  line-height: 1;
  font-weight: 400;
  word-break: keep-all;
  letter-spacing: -0.016em; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

#skip a {
  position: absolute;
  top: 0;
  left: -9999px;
  z-index: 1400; }
  #skip a:focus {
    left: 0;
    width: 100%;
    background: #e5e5e5;
    text-align: center;
    height: 48px;
    line-height: 48px;
    font-weight: 700;
    color: #333333; }

#wrap {
  overflow: hidden;
  min-width: 360px;
  margin: 0 auto; }

#pcHeader {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  position: fixed;
  top: 0;
  left: 50%;
  width: 100%;
  height: 80px;
  z-index: 1000; }
  #pcHeader.load {
    top: 0; }

#pcHeader {
  /* position: relative; */
  /* .menu에 .active 추가 */ }
  #pcHeader .logo {
    top: 28px;
    left: 0;
    width: 264px;
    height: 24px; }
    #pcHeader .logo, #pcHeader .logo a img {
      position: absolute; }
    #pcHeader .logo a img {
      top: 0;
      left: 0; }
    #pcHeader .logo a img:last-child {
      opacity: 0; }
  #pcHeader .menu {
    top: 20px;
    right: 0;
    width: 40px;
    height: 40px;
    overflow: hidden;
    z-index: 1100; }
    #pcHeader .menu, #pcHeader .menu .line {
      position: absolute; }
    #pcHeader .menu .btn_open {
      width: 100%;
      height: 100%; }
      #pcHeader .menu .btn_open .btn_line {
        position: absolute;
        top: 0;
        left: 0;
        width: 40px;
        height: 40px; }
    #pcHeader .menu .line {
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      width: 100%;
      height: 2px;
      background: #e5e5e5;
      left: 0; }
    #pcHeader .menu .top {
      top: 12px; }
    #pcHeader .menu .btm {
      top: 26px; }
    #pcHeader .menu.active .line {
      background: #e5e5e5; }
    #pcHeader .menu.active .top {
      -webkit-transform: rotate(225deg);
      -moz-transform: rotate(225deg);
      -o-transform: rotate(225deg);
      -ms-transform: rotate(225deg);
      transform: rotate(225deg);
      top: 20px; }
    #pcHeader .menu.active .btm {
      -webkit-transform: rotate(-225deg);
      -moz-transform: rotate(-225deg);
      -o-transform: rotate(-225deg);
      -ms-transform: rotate(-225deg);
      transform: rotate(-225deg);
      top: 20px; }
  #pcHeader #gnb {
    /* display: none; */
    opacity: 0; }
    #pcHeader #gnb > ul {
      position: relative;
      width: 820px;
      height: 80px;
      margin-left: 348px;
      padding-top: 32px; }
      #pcHeader #gnb > ul > li > a, #pcHeader #gnb > ul > li > button {
        font-size: 20px;
        font-weight: 700;
        color: #595959; }
      #pcHeader #gnb > ul > li {
        margin-right: 60px; }
      #pcHeader #gnb > ul li {
        float: left; }
    #pcHeader #gnb ul li ul {
      position: absolute;
      font-family: NtSansKR;
      font-weight: 400;
      /* display: none; */ }
    #pcHeader #gnb > ul > li > a, #pcHeader #gnb > ul > li > button {
      position: relative; }
    #pcHeader #gnb > ul > li > a::before, #pcHeader #gnb > ul > li > button::before {
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      content: "";
      position: absolute;
      bottom: -6px;
      left: 0;
      width: 0%;
      height: 2px;
      background: #e5e5e5; }
    #pcHeader #gnb > ul > li:hover > a, #pcHeader #gnb > ul > li > a:focus, #pcHeader #gnb > ul > li:hover > a::before, #pcHeader #gnb > ul > li > a:focus::before, #pcHeader #gnb > ul > li:hover > button, #pcHeader #gnb > ul > li > button:focus, #pcHeader #gnb > ul > li:hover > button::before, #pcHeader #gnb > ul > li > button:focus::before {
      width: 100%;
      color: #e5e5e5; }
    #pcHeader #gnb ul li ul li {
      margin-top: 28px;
      margin-right: 60px; }
    #pcHeader #gnb ul li ul li a {
      position: relative;
      color: #595959; }
    #pcHeader #gnb ul li ul li a::before {
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      content: "";
      position: absolute;
      bottom: -6px;
      left: 0;
      width: 0;
      height: 2px;
      background: #e5e5e5; }
    #pcHeader #gnb ul li ul li:hover a, #pcHeader #gnb ul li ul li a:focus, #pcHeader #gnb ul li ul li:hover a::before, #pcHeader #gnb ul li ul li a:focus::before {
      width: 100%;
      color: #e5e5e5; }
    #pcHeader #gnb ul li ul li a span {
      margin-left: 8px; }

#mHeader {
  display: none; }

.splash {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  background: #191919;
  z-index: 1800; }
@keyframes splashFade {
  to {
    opacity: 1; } }
  .splash .circle {
    -webkit-animation-name: loadingR;
    -webkit-animation-duration: 4s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-fill-mode: backwards;
    -moz-animation-name: loadingR;
    -moz-animation-duration: 4s;
    -moz-animation-timing-function: linear;
    -moz-animation-delay: 0s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-fill-mode: backwards;
    -o-animation-name: loadingR;
    -o-animation-duration: 4s;
    -o-animation-timing-function: linear;
    -o-animation-delay: 0s;
    -o-animation-iteration-count: infinite;
    -o-animation-fill-mode: backwards;
    animation-name: loadingR;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    margin-left: 100px; }
@keyframes loadingR {
  100% {
    transform: perspective(1000px) rotateY(0deg) rotateX(15deg); }
  0% {
    transform: perspective(1000px) rotateY(360deg) rotateX(15deg); } }
    .splash .circle p {
      font-weight: 700; }
      .splash .circle p .txt_load {
        -webkit-transform: rotateY(calc(var(--char-index) * 12deg)) translateZ(280px);
        -moz-transform: rotateY(calc(var(--char-index) * 12deg)) translateZ(280px);
        -o-transform: rotateY(calc(var(--char-index) * 12deg)) translateZ(280px);
        -ms-transform: rotateY(calc(var(--char-index) * 12deg)) translateZ(280px);
        transform: rotateY(calc(var(--char-index) * 12deg)) translateZ(280px);
        -webkit-transform-origin: center;
        -moz-transform-origin: center;
        -o-transform-origin: center;
        -ms-transform-origin: center;
        transform-origin: center;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        transform-style: preserve-3d;
        position: absolute;
        top: -1.5em;
        left: 0;
        width: 1em;
        background: transparent;
        color: #e5e5e5;
        font-size: 4em;
        padding: 12px 12px;
        border-top: 4px solid #e5e5e5;
        border-bottom: 4px solid #e5e5e5; }
      .splash .circle p .tl_6, .splash .circle p .tl_17, .splash .circle p .tl_21, .splash .circle p .tl_32 {
        color: transparent; }
  .splash strong {
    -webkit-animation-name: load_opa;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-fill-mode: backwards;
    -moz-animation-name: load_opa;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: ease-in-out;
    -moz-animation-delay: 0s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-fill-mode: backwards;
    -o-animation-name: load_opa;
    -o-animation-duration: 1s;
    -o-animation-timing-function: ease-in-out;
    -o-animation-delay: 0s;
    -o-animation-iteration-count: infinite;
    -o-animation-fill-mode: backwards;
    animation-name: load_opa;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
    display: block;
    margin-top: 280px;
    font-size: 20px;
    margin-left: -100px; }
@keyframes load_opa {
  100% {
    opacity: 0; }
  50% {
    opacity: 1; }
  0% {
    opacity: 0; } }
.splash.display-none {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;
  z-index: -100; }

@media screen and (max-width: 360px) {
  #pcHeader {
    display: none; }

  #mHeader {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 360px;
    z-index: 1100;
    /* position: relative; */
    /* .menu에 .active 추가 */ }
    #mHeader .bgfix_gr {
      margin: auto;
      max-width: initial;
      width: 100%;
      height: 80px;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
      opacity: 0; }
    #mHeader .logo {
      top: 0;
      left: 0;
      width: 264px;
      height: 24px;
      z-index: 100; }
      #mHeader .logo, #mHeader .logo a img {
        position: absolute; }
      #mHeader .logo a, #mHeader .logo img {
        display: inline-block; }
      #mHeader .logo a img {
        top: 28px;
        left: 20px; }
      #mHeader .logo a img:last-child {
        opacity: 0; }
    #mHeader .menu {
      top: 16px;
      right: 20px;
      width: 40px;
      height: 40px;
      overflow: hidden;
      z-index: 1100; }
      #mHeader .menu, #mHeader .menu .line {
        position: absolute; }
      #mHeader .menu .btn_open {
        width: 100%;
        height: 100%; }
        #mHeader .menu .btn_open .btn_line {
          position: absolute;
          top: 0;
          left: 0;
          width: 40px;
          height: 40px; }
      #mHeader .menu .line {
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        width: 100%;
        height: 4px;
        background: #e5e5e5;
        left: 0; }
      #mHeader .menu .top {
        top: 12px; }
      #mHeader .menu .btm {
        top: 26px; }
      #mHeader .menu.active .line {
        background: #e5e5e5; }
      #mHeader .menu.active .top {
        -webkit-transform: rotate(225deg);
        -moz-transform: rotate(225deg);
        -o-transform: rotate(225deg);
        -ms-transform: rotate(225deg);
        transform: rotate(225deg);
        top: 20px; }
      #mHeader .menu.active .btm {
        -webkit-transform: rotate(-225deg);
        -moz-transform: rotate(-225deg);
        -o-transform: rotate(-225deg);
        -ms-transform: rotate(-225deg);
        transform: rotate(-225deg);
        top: 20px; }
    #mHeader #gnb {
      /* li아닌 a태그에 스타일 적용하기, display: block; */
      display: none;
      position: fixed;
      top: -100%;
      left: 0;
      right: 0;
      height: 100%;
      width: 360px;
      overflow-y: auto;
      /* opacity: 0; */
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0)); }
      #mHeader #gnb > ul {
        padding-left: 20px;
        width: 100%;
        height: 480px;
        top: 0;
        left: 0;
        margin-top: 80px; }
        #mHeader #gnb > ul > li {
          border-bottom: 2px solid #e5e5e5; }
          #mHeader #gnb > ul > li > a, #mHeader #gnb > ul > li > button {
            position: relative;
            height: 80px;
            padding-top: 40px; }
        #mHeader #gnb > ul li {
          width: 100%;
          font-weight: 700;
          font-size: 28px; }
          #mHeader #gnb > ul li a {
            display: block;
            width: 100%; }
          #mHeader #gnb > ul li button {
            font-weight: 700;
            width: 100%;
            padding-right: 132px; }
            #mHeader #gnb > ul li button span {
              display: block;
              text-align: left; }
          #mHeader #gnb > ul li .more {
            position: relative; }
          #mHeader #gnb > ul li .more::before {
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            -o-transition: all 0.5s;
            transition: all 0.5s;
            -webkit-transform: rotate(-135deg) translateY(10px) translateX(10px);
            -moz-transform: rotate(-135deg) translateY(10px) translateX(10px);
            -o-transform: rotate(-135deg) translateY(10px) translateX(10px);
            -ms-transform: rotate(-135deg) translateY(10px) translateX(10px);
            transform: rotate(-135deg) translateY(10px) translateX(10px);
            content: "";
            position: absolute;
            top: 46px;
            left: 85%;
            width: 16px;
            height: 16px;
            border-top: 4px solid #fff;
            border-left: 4px solid #fff;
            z-index: 1; }
          #mHeader #gnb > ul li ul {
            margin-top: 2px;
            /* display: none; */ }
            #mHeader #gnb > ul li ul li {
              width: 100%;
              font-size: 20px;
              font-family: NtSansKR; }
              #mHeader #gnb > ul li ul li a {
                display: block;
                padding-top: 16px;
                width: 100%;
                height: 60px;
                font-weight: 400; }
      #mHeader #gnb > ul > li.on .more::before {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg); }
      #mHeader #gnb ul .copyr {
        border-bottom: none; }
        #mHeader #gnb ul .copyr p {
          font-size: 14px;
          margin-top: 40px; }
          #mHeader #gnb ul .copyr p a {
            position: relative;
            display: inline-block;
            width: auto;
            height: auto;
            padding-top: 0; }
            #mHeader #gnb ul .copyr p a::before {
              content: "";
              position: absolute;
              bottom: -2px;
              left: 0;
              width: 100%;
              height: 2px;
              background: #e5e5e5; }
          #mHeader #gnb ul .copyr p span {
            display: block;
            margin-top: 12px; }

  .splash .circle {
    -webkit-animation-name: loadingR_m;
    -webkit-animation-duration: 4s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-fill-mode: backwards;
    -moz-animation-name: loadingR_m;
    -moz-animation-duration: 4s;
    -moz-animation-timing-function: linear;
    -moz-animation-delay: 0s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-fill-mode: backwards;
    -o-animation-name: loadingR_m;
    -o-animation-duration: 4s;
    -o-animation-timing-function: linear;
    -o-animation-delay: 0s;
    -o-animation-iteration-count: infinite;
    -o-animation-fill-mode: backwards;
    animation-name: loadingR_m;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 50px; }
  @keyframes loadingR_m {
    100% {
      transform: perspective(4000px) rotateY(0deg) rotateX(15deg); }
    0% {
      transform: perspective(4000px) rotateY(360deg) rotateX(15deg); } }
    .splash .circle p .txt_load {
      -webkit-transform: rotateY(calc(var(--char-index) * 12deg)) translateZ(200px);
      -moz-transform: rotateY(calc(var(--char-index) * 12deg)) translateZ(200px);
      -o-transform: rotateY(calc(var(--char-index) * 12deg)) translateZ(200px);
      -ms-transform: rotateY(calc(var(--char-index) * 12deg)) translateZ(200px);
      transform: rotateY(calc(var(--char-index) * 12deg)) translateZ(200px);
      left: 200%;
      width: 2.5em;
      border-width: 2px;
      font-size: 2em;
      padding: 10px 12px; }
  .splash strong {
    font-size: 14px;
    margin-top: 360px;
    margin-left: -50px; } }

/*# sourceMappingURL=common.css.map */
