@charset "utf-8";

@import "_var", "_mixin", "_function";

@font-face{
    font-family: NtSansKR;
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/NotoSans-Regular.eot');
    src: url('../fonts/NotoSans-Regular.eot#iefix')format("embedded-opentype"),
    url('../fonts/NotoSans-Regular.woff2')format("woff2"),
    url('../fonts/NotoSans-Regular.woff')format("woff"),
    url('../fonts/NotoSans-Regular.otf')format("opentype");
}
@font-face{
    font-family: NtSansKR;
    font-weight: 500;
    font-style: normal;
    src: url('../fonts/NotoSans-Medium.eot');
    src: url('../fonts/NotoSans-Medium.eot#iefix')format("embedded-opentype"),
    url('../fonts/NotoSans-Medium.woff2')format("woff2"),
    url('../fonts/NotoSans-Medium.woff')format("woff"),
    url('../fonts/NotoSans-Medium.otf')format("opentype");
}
@font-face{
    font-family: NtSansKR;
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/NotoSans-Bold.eot');
    src: url('../fonts/NotoSans-Bold.eot#iefix')format("embedded-opentype"),
    url('../fonts/NotoSans-Bold.woff2')format("woff2"),
    url('../fonts/NotoSans-Bold.woff')format("woff"),
    url('../fonts/NotoSans-Bold.otf')format("opentype");
}
@font-face{
    font-family: Syncopate;
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/Syncopate-Regular.eot');
    src: url('../fonts/Syncopate-Regular.eot#iefix')format("embedded-opentype"),
    url('../fonts/Syncopate-Regular.woff2')format("woff2"),
    url('../fonts/Syncopate-Regular.woff')format("woff"),
    url('../fonts/Syncopate-Regular.otf')format("opentype");
}
@font-face{
    font-family: Syncopate;
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/Syncopate-Bold.eot');
    src: url('../fonts/Syncopate-Bold.eot#iefix')format("embedded-opentype"),
    url('../fonts/Syncopate-Bold.woff2')format("woff2"),
    url('../fonts/Syncopate-Bold.woff')format("woff"),
    url('../fonts/Syncopate-Bold.otf')format("opentype");
}

//tag reset
body, h1, h2, h3, h4, h5, h6, p, ul, button, form, input{margin: 0;padding: 0;}
h1{font-size: 100%;}
ul{list-style: none;}
a:link, a:visited, a:hover, a:active{text-decoration: none;color: inherit;}
button{border: none;background: none;cursor: pointer;}
input, button{font-family: inherit;font-size: inherit;color: inherit;line-height: inherit;}
img{vertical-align: top;border: none;}
img, figure{max-width: 100%;}
header, nav, section, footer{display: block;}

//common class
.f_l{float: left;}
.f_r{float: right;}
.p_r{position: relative;}
.p_a{position: absolute;}
.clearfix::after{content: "";display: block;clear: both;}
.blind-b{width: 1px;height: 1px;overflow: hidden;border: none;position: absolute;clip: rect(1px, 1px, 1px, 1px);clip-path: inset(50%);}
.wid1280{max-width: 1280px;width: 100%;margin: 0 auto;}
.btn_more{
    display: inline-block;text-align: center;width: 40px;height: 40px;line-height: 40px;background: url("../images/main/btn_more_black.svg")no-repeat center;
}
.txt_grey{font-size: 16px;line-height: 24px;color: #595959;font-weight: 700;}
.txt_line{text-shadow: -1px -1px 0 #595959, 1px -1px 0 #595959, -1px 1px 0 #595959, 1px 1px 0 #595959;color: $black;}

//body
body{background: #333;font-family: Syncopate, NtSansKR, Sans-serif, "맑은 고딕", "Malgun Gothic";font-family: 16px;color: #e5e5e5;line-height: 1;font-weight: 400;word-break: keep-all;letter-spacing: -0.016em;}
*{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}

//skip
#skip a{
    position: absolute;top: 0;left: -9999px;z-index: 1000;
    &:focus{left: 0;width: 100%;background: $white;text-align: center;height: 48px;line-height: 48px;font-weight: 700;color: $black;}
}

#wrap{overflow: hidden;min-width: 320px;}

#pcHeader{
    @include transition(all 0.5s ease-in-out);
    @include translateX-50;
    position: fixed;top: 0;left: 50%;width: 100%;height: 80px;z-index: 1000;
    &.load{top: 0;}
}
#pcHeader{
    /* position: relative; */
    .logo{
        &, a img{position: absolute;}
        top: 28px;left: 0;width: 264px;height: 24px;
        a img{top: 0;left: 0;}
        a img:last-child{opacity: 0;}
    }
    /* .menu에 .active 추가 */
    .menu{
        &, .line{position: absolute;}
        top: 20px;right: 0;width: 40px;height: 40px;overflow: hidden;z-index: 1100;
        .btn_open{
            width: 100%;height: 100%;
            .btn_line{
                position: absolute;top: 0;left: 0;width: 40px;height: 40px;
            }
        }
        .line{
            @include transition(all 0.5s);
            width: 100%;height: 2px;background: $white;left: 0;
        }
        .top{top: 12px;}
        .btm{top: 26px;}
        &.active{
            .line{background: $white;}
            .top{
                @include transform(rotate(45deg));
                top: 20px;
            }
            .btm{
                @include transform(rotate(-45deg));
                top: 20px;
            }
        }

    }
    #gnb{
        display: none;
    }
}