@charset "utf-8";

@import "_var", "_mixin", "_function";

@font-face{
    font-family: NtSansKR;
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/NotoSans-Regular.eot');
    src: url('../fonts/NotoSans-Regular.eot#iefix')format("embedded-opentype"),
    url('../fonts/NotoSans-Regular.woff2')format("woff2"),
    url('../fonts/NotoSans-Regular.woff')format("woff"),
    url('../fonts/NotoSans-Regular.otf')format("opentype");
}
@font-face{
    font-family: NtSansKR;
    font-weight: 500;
    font-style: normal;
    src: url('../fonts/NotoSans-Medium.eot');
    src: url('../fonts/NotoSans-Medium.eot#iefix')format("embedded-opentype"),
    url('../fonts/NotoSans-Medium.woff2')format("woff2"),
    url('../fonts/NotoSans-Medium.woff')format("woff"),
    url('../fonts/NotoSans-Medium.otf')format("opentype");
}
@font-face{
    font-family: NtSansKR;
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/NotoSans-Bold.eot');
    src: url('../fonts/NotoSans-Bold.eot#iefix')format("embedded-opentype"),
    url('../fonts/NotoSans-Bold.woff2')format("woff2"),
    url('../fonts/NotoSans-Bold.woff')format("woff"),
    url('../fonts/NotoSans-Bold.otf')format("opentype");
}
@font-face{
    font-family: Syncopate;
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/Syncopate-Regular.eot');
    src: url('../fonts/Syncopate-Regular.eot#iefix')format("embedded-opentype"),
    url('../fonts/Syncopate-Regular.woff2')format("woff2"),
    url('../fonts/Syncopate-Regular.woff')format("woff"),
    url('../fonts/Syncopate-Regular.otf')format("opentype");
}
@font-face{
    font-family: Syncopate;
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/Syncopate-Bold.eot');
    src: url('../fonts/Syncopate-Bold.eot#iefix')format("embedded-opentype"),
    url('../fonts/Syncopate-Bold.woff2')format("woff2"),
    url('../fonts/Syncopate-Bold.woff')format("woff"),
    url('../fonts/Syncopate-Bold.otf')format("opentype");
}

//tag reset
body, h1, h2, h3, h4, h5, h6, p, th, td, ul, button, form, input{margin: 0;padding: 0;}
h1{font-size: 100%;}
ul{list-style: none;}
a:link, a:visited, a:hover, a:active{text-decoration: none;color: inherit;}
button{border: none;background: none;cursor: pointer;}
input, button, textarea{font-family: inherit;font-size: inherit;color: inherit;line-height: inherit;border: none;}
img{vertical-align: top;border: none;}
img, figure{max-width: 100%;}
/* table{border-style: 0;border-collapse: collapse;} */
caption{width: 1px;height: 1px;overflow: hidden;border: none;margin: -1px;clip: rect(1px, 1px, 1px, 1px);clip-path: inset(50%);}
header, nav, section, footer{display: block;}

//common class
.f_l{float: left;}
.f_r{float: right;}
.p_r{position: relative;}
.p_a{position: absolute;}
.clearfix::after{content: "";display: block;clear: both;}
.blind-b{width: 1px;height: 1px;overflow: hidden;border: none;position: absolute;clip: rect(1px, 1px, 1px, 1px);clip-path: inset(50%);}
.wid1280{max-width: 1280px;width: 100%;margin: 0 auto;}
.wid360{max-width: 360px;width: 100%; margin: 0 auto;}
.btn_more{
    display: inline-block;text-align: center;width: 40px;height: 40px;line-height: 40px;background: url("../images/main/btn_more_black.svg")no-repeat center;
}
.txt_grey{font-size: 16px;line-height: 24px;color: #595959;font-weight: 700;}
.txt_line{text-shadow: -1px -1px 0 #595959, 1px -1px 0 #595959, -1px 1px 0 #595959, 1px 1px 0 #595959;color: $black;}

//body
body{background: #222;font-family: Syncopate, NtSansKR, Sans-serif, "맑은 고딕", "Malgun Gothic";font-size: 16px;color: #e5e5e5;line-height: 1;font-weight: 400;word-break: keep-all;letter-spacing: -0.016em;}
*{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}

//skip
#skip a{
    position: absolute;top: 0;left: -9999px;z-index: 1400;
    &:focus{left: 0;width: 100%;background: $white;text-align: center;height: 48px;line-height: 48px;font-weight: 700;color: $black;}
}

#wrap{overflow: hidden;min-width: 360px;margin: 0 auto;}

#pcHeader{
    @include transition(all 0.5s ease-in-out);
    @include translateX-50;
    position: fixed;top: 0;left: 50%;width: 100%;height: 80px;z-index: 1000;
    &.load{top: 0;}
}
#pcHeader{
    /* position: relative; */
    .logo{
        &, a img{position: absolute;}
        top: 28px;left: 0;width: 264px;height: 24px;
        a img{top: 0;left: 0;}
        a img:last-child{opacity: 0;}
    }
    /* .menu에 .active 추가 */
    .menu{
        &, .line{position: absolute;}
        top: 20px;right: 0;width: 40px;height: 40px;overflow: hidden;z-index: 1100;
        .btn_open{
            width: 100%;height: 100%;
            .btn_line{
                position: absolute;top: 0;left: 0;width: 40px;height: 40px;
            }
        }
        .line{
            @include transition(all 0.5s);
            width: 100%;height: 2px;background: $white;left: 0;
        }
        .top{top: 12px;}
        .btm{top: 26px;}
        &.active{
            .line{background: $white;}
            .top{
                @include transform(rotate(225deg));
                top: 20px;
            }
            .btm{
                @include transform(rotate(-225deg));
                top: 20px;
            }
        }

    }
    #gnb{
      /* display: none; */opacity: 0;
      > ul{
        position: relative;width: 820px;height: 80px;margin-left: 348px;padding-top: 32px;
        > li > a, > li > button{font-size: 20px;font-weight: 700;color: #595959;}
        > li{margin-right: 60px;}
        li{float: left;}
      }
      ul li ul{position: absolute;font-family: $korFont;font-weight: 400;/* display: none; */}
      > ul > li > a, > ul > li > button{position: relative;}
      > ul > li > a::before, > ul > li > button::before{
        @include transition(all 0.3s);
        content: "";position: absolute;bottom: -6px;left: 0;width: 0%;height: 2px;background: $white;
      }
      > ul > li:hover > a,  > ul > li > a:focus, > ul > li:hover > a::before, > ul > li > a:focus::before, > ul > li:hover > button, > ul > li > button:focus, > ul > li:hover > button::before, > ul > li > button:focus::before{width: 100%;color: $white;}
      ul li ul li{margin-top: 28px;margin-right: 60px;}
      ul li ul li a{position: relative;color: #595959;}
      ul li ul li a::before{
        @include transition(all 0.3s);
        content: "";position: absolute;bottom: -6px;left: 0;width: 0;height: 2px;background: $white;
      }
      ul li ul li:hover a, ul li ul li a:focus, ul li ul li:hover a::before, ul li ul li a:focus::before{width: 100%;color: $white;}
      ul li ul li a span{margin-left: 8px;}

    }
}

#mHeader{display: none;}

.splash{
  @include keyframe(splashFade){
    to{
      opacity: 1;
    }
  };
  display: flex;justify-content: center;align-items: center;position: fixed;top: 0;left: 0;width: 100%;height: 100vh;min-height: 100vh;background: #191919;z-index: 1800;
  .circle{
    @include keyframe(loadingR){
      100%{
        transform: perspective(1000px) rotateY(0deg) rotateX(15deg);
      }0%{
        transform: perspective(1000px) rotateY(360deg) rotateX(15deg);
      }
    };
    @include animation(loadingR, 4s, linear, 0s, infinite, backwards);
    @include transform-style(preserve-3d);
    margin-left: 100px;
    p{
      font-weight: 700;
      .txt_load{
        @include transform(rotateY(calc(var(--char-index) * 12deg)) translateZ(280px));
        @include transform-origin(center);
        @include transform-style(preserve-3d);
        position: absolute;top: -1.5em;left: 0;width: 1em;background: transparent;color: #e5e5e5;font-size: 4em;padding: 12px 12px;border-top: 4px solid #e5e5e5;border-bottom: 4px solid #e5e5e5;
      }
      .tl_6, .tl_17, .tl_21, .tl_32{color: transparent;}
    }
  }
  strong{
    @include keyframe(load_opa){
      100%{
        opacity: 0;
      }50%{
        opacity: 1;
      }0%{
        opacity: 0;
      }
    };
    @include animation(load_opa, 1s, ease-in-out, 0s, infinite, backwards);
    display: block;margin-top: 280px;font-size: 20px;margin-left: -100px;
  }
}
.splash.display-none{
  @include transition(all 0.5s);
  opacity: 0;z-index: -100;
}



@media screen and (max-width: 360px){
  #pcHeader{display: none;}
  #mHeader{
    @include transition(all 0.5s ease-in-out);
      display: block;position: fixed;top: 0;left: 0;width: 100%;min-width: 360px;z-index: 1100;
      .bgfix_gr{margin: auto;max-width: initial;width: 100%;height: 80px;background: linear-gradient(to bottom, rgba(0, 0, 0, .3), rgba(0, 0, 0, 0));opacity: 0;}
      /* position: relative; */
      .logo{
          &, a img{position: absolute;}
          top: 0;left: 0;width: 264px;height: 24px;z-index: 100;
          a, img{display: inline-block;}
          a img{top: 28px;left: 20px;}
          a img:last-child{opacity: 0;}
      }
      /* .menu에 .active 추가 */
      .menu{
        &, .line{position: absolute;}
        top: 16px;right: 20px;width: 40px;height: 40px;overflow: hidden;z-index: 1100;
        .btn_open{
            width: 100%;height: 100%;
            .btn_line{
                position: absolute;top: 0;left: 0;width: 40px;height: 40px;
            }
        }
        .line{
            @include transition(all 0.5s);
            width: 100%;height: 4px;background: $white;left: 0;
        }
        .top{top: 12px;}
        .btm{top: 26px;}
        &.active{
            .line{background: $white;}
            .top{
                @include transform(rotate(225deg));
                top: 20px;
            }
            .btm{
                @include transform(rotate(-225deg));
                top: 20px;
            }
        }

      }

      #gnb{
        /* li아닌 a태그에 스타일 적용하기, display: block; */
        display: none;position: fixed;top: -100%;left: 0;right: 0;height: 100%;width: 360px;overflow-y: auto;/* opacity: 0; */background: linear-gradient(to bottom, rgba(0, 0, 0, .8) 50%, rgba(0, 0, 0, 0));
        > ul{
          padding-left: 20px;width: 100%;height: 480px;top: 0;left: 0;margin-top: 80px;
          >li{
            border-bottom: 2px solid $white;
            > a, > button{position: relative;height: 80px;padding-top: 40px;}
          }
          li{
            width: 100%;font-weight: 700;font-size: 28px;
            a{display: block;width: 100%;}
            button{
              font-weight: 700;width: 100%;padding-right: 132px;
              span{display: block;text-align: left;}
            }
            .more{position: relative;}
            .more::before{
              @include transition(all 0.5s);
              @include transform(rotate(-135deg)translateY(10px) translateX(10px));
              content: "";position: absolute;top: 46px;left: 85%;width: 16px;height: 16px;border-top: 4px solid #fff;border-left: 4px solid #fff;z-index: 1;
            }
            ul{
              margin-top: 2px;/* display: none; *///ul -> display: none;
              li{
                width: 100%;font-size: 20px;font-family: $korFont;
                a{display: block;padding-top: 16px;width: 100%;height: 60px;font-weight: 400;}
              }
            }
          }
        }
        > ul > li.on{
          .more::before{
            @include transform(rotate(45deg));
          }
        }
        
        ul .copyr{
          border-bottom: none;
          p{
            font-size: 14px;margin-top: 40px;
            a{
              position: relative;display: inline-block;width: auto;height: auto;padding-top: 0;
              &::before{content: "";position: absolute;bottom: -2px;left: 0;width: 100%;height: 2px;background: $white;}
            }
            span{display: block;margin-top: 12px;}
          }
        }
      }
    }
  .splash{
    .circle{
      @include keyframe(loadingR_m){
        100%{
          transform: perspective(4000px) rotateY(0deg) rotateX(15deg);
        }0%{
          transform: perspective(4000px) rotateY(360deg) rotateX(15deg);
        }
      };
      @include animation(loadingR_m, 4s, linear, 0s, infinite, backwards);
      @include box-sizing;
      margin-left: 50px;
      p .txt_load{
        @include transform(rotateY(calc(var(--char-index) * 12deg)) translateZ(200px));
        left: 200%;width: 2.5em;border-width: 2px;font-size: 2em;padding: 10px 12px;
      }
    }
    strong{font-size: 14px;margin-top: 360px;margin-left: -50px;}
  }
}