@charset "utf-8";
@import "_mixin", "_var", "_function";

//고정 배경 스타일
.fixed_bg{
    @include translateX-50;
    position: fixed;z-index: -1;left: 50%;top: 80px;
  .bg_line{
    width: 1280px;height: 608px;border: 1px solid #ccc;
    .box{float: left;width: 318px;height: 606px;}
    .box + .box{border-left: 1px solid #ccc;}
    &:nth-child(1)::before{display: none;content: "";position: absolute;bottom: -250px;left: -105px;width: 210px;height: 210px;background: url('../images/main/shape_8star_dark.svg')no-repeat center;z-index: -1;}

    .wisesaying{
      /* display: block; */
      display: none;font-size: 88px;font-weight: 700;white-space: nowrap;line-height: 74px;
      @include keyframe(flowtxt){
        100%{
          transform: translateX(-110%)
        }0%{
          transform: translateX(100%)
        }
      };
      @include animation(flowtxt, 30s, linear, 0s, infinite, backwards);
    }
    .hello{top: 80px;display: none;}
    .now{
      /* text-shadow: -1px -1px 0 #424242, 1px -1px 0 #424242, -1px 1px 0 #424242, 1px 1px 0 #424242; */
      width: 1200px;bottom: -10px;font-size: 82px;font-weight: 700;line-height: 68px;z-index: 0;left: 0;color: #e5e5e5;-webkit-text-stroke: 1px #ccc;
      div{display: inline;}
    }
    #nowTime{left: 440px;}
    .human_area{
      width: 428px;height: 606px;
      .human{
        position: absolute;left: -40px;top: 104px;
        img{position: fixed;top: 60px;}
      }
      .talk_area{
        position: relative;left: 240px;top: 60px;width: 154px;height: 238px;
      }
      .human_talk{
        @include transition(all 0.5s);
        @include border-radius(20px);
        @include box-shadow(10px 40px 60px 0 rgba(0, 0, 0, .5));
        position: absolute;opacity: 0;top: 0;
        background: #fff;width: 154px;height: 238px;padding: 24px;
        &::before{
          @include translateX-50;
          content: "";position: absolute;width: 0;height: 0;bottom: -40px;left: 50%;
          border-top: 40px solid #fff;border-left: 0 solid transparent;border-right: 52px solid transparent;
        }
        .talkguide{
          width: 106px;height: 182px;color: $black;font-size: 12px;line-height: 22px;/* background: pink; */
        }
        
      }
      .human_talk.on{
        opacity: 1;top: -10px;
      }
      .talk1{top: 40px;}
      .talk2{
        top: 40px;
        span{display: inline-block;font-size: 40px;line-height: 40px;margin-top: 12px;}
      }
      .talk3{top: 40px;font-family: $korFont;}
    }
    .txt_hire{
      width: 276px;height: 276px;bottom: 0px;right: 0;
      &::before{
        @include translate-50;
        content: "";position: absolute;background: url('../images/main/shape_8star_dark.svg')no-repeat center;width: 204px;height: 204px;left: 50%;top: 50%;z-index: -1;
      }
      .moveround{
        @include keyframe(movr){
          100%{
            transform: rotate(360deg)
          }0%{
            transform: rotate(0deg)
          }
        };
        @include animation(movr, 8s, linear, 0s, infinite, backwards);
        width: 276px; height: 276px;
      }
      .move_cycle{
        @include border-radius(50%);
        @include translate-50;
        position: absolute;font-weight: 700;color: #424242;font-size: 32px;z-index: -1;width: 276px;height: 276px;/* background: pink; */left: 50%;top: 50%;
        p{
          @include transform(rotate(-66deg) translate(0px, -74px));
          span{
            @include transform(origin(center, bottom));//회전 중심 축 변경
            position: absolute;top: 0;left: 0;width: 16px;height: 260px;
          }
        }

      }
      .btn_txt{
        @include translate-50;
        position: absolute;font-weight: 700;font-size: 24px;line-height: 32px;width: 100px;height: 100px;left: 50%;top: 50%;z-index: 10;text-align: center;
      }
      /* .btn_txt:focus{
        @include border-radius(50%);
        outline: none;box-shadow: 0 0 0 2px $orange;
      } */
      .imgicon{position: absolute;width: 200px;height: 200px;background: no-repeat center;}
      .coffee{background-image: url('../images/main/emoji_coffee.png');left: 120px;top: -40px;}
      .fire{background-image: url('../images/main/emoji_fire.png');bottom: -20px;left: -28px;}
    }
  }
}

#scrollCnt{
  position: relative;left: 184px;top: 156px;width: 770px;
  .section{width: 100%;}

  #cnt1{
    strong, span, button{display: inline-block;}
    .tit_txt{
      /* background: red; */
      .imgicon{position: absolute;width: 200px;height: 200px;background: no-repeat center;z-index: -1;}
      .head{
        @include keyframe(head){
          100%{
            transform: rotate(-4deg)
          }50%{
            transform: rotate(8deg)
          }0%{
            transform: rotate(-4deg)
          }
        };
        @include animation(head, 4s, ease, 0s, infinite, backwards);
        background-image: url('../images/main/emoji_head.png');top: -60px;left: 20px;
      }
      .thumsup{
        @include bgsize(contain);
        @include keyframe(thumbs){
          100%{
            transform: scale(.9)
          }50%{
            transform: scale(1.1) rotate(-16deg)
          }0%{
            transform: scale(.9)
          }
        };
        @include animation(thumbs, 2s, cubic-bezier(0.83,-0.03, 0, 1.21), 0s, infinite, backwards);
        background-image: url('../images/main/emoji_thumsup.png');top: -68px;right: 192px;
      }
      .talkbox{
        @include keyframe(talkmov){
          100%{
            transform: rotate(0deg) scale(.8)
          }68%{
            transform: rotate(4deg) scale(.8)
          }54%{
            transform: rotate(-4deg) scale(.8)
          }46%{
            transform: rotate(4deg) scale(.8)
          }38%{
            transform: rotate(-4deg) scale(.8)
          }0%{
            transform: rotate(0deg) scale(.8)
          }
        };
        @include animation(talkmov, 2s, ease-in-out, 0s, infinite, backwards);
        
        background-image: url('../images/main/emoji_talk.png');top: 12px;right: 100px;
      }
      .point{
        @include keyframe(pointmov){
          100%{
            transform: translate(0) rotate(45deg) scale(.8)
          }30%{
            transform: translate(-20px, -20px) rotate(45deg) scale(1)
          }0%{
            transform: translate(0) rotate(45deg) scale(.8)
          }
        };
        @include animation(pointmov, 2s, ease-in-out, 0s, infinite, backwards);
        background-image: url('../images/main/emoji_pointing.png');top: 120px;right: 320px;
      }
      .intro_main_txt{
        color: $black;
        :nth-child(2){margin-left: 160px;}
        font-family: $korFont;font-size: 40px;line-height: 88px;font-weight: 700;
        button{position: relative;font-weight: 700;margin-left: 20px;}
        button::before{content: "";position: absolute;bottom: 12px;left: 0;width: 100%;height: 4px;background: $black;}
      }
    }
    .deco{
      margin-top: 160px;margin-left: 110px;
      p{font-weight: 700;color: $greyLight;font-size: 20px;line-height: 24px;}
      .arrow{
        @include keyframe(arrowmov){
          100%{
            transform: translateY(52px);
          }50%{
            transform: translateY(60px);
          }0%{
            transform: translateY(-40px);
          }
        }
        @include animation(arrowmov, 2s, ease, 0s, infinite, none);
        background: url('../images/main/arrow_down_70x100.svg')no-repeat center;width: 70px;height: 100px;position: absolute;top: 300px;left: 0;
      }
      .mouse{position: absolute;top: 252px;right: 220px;background: url('../images/main/emoji_mouse.png')no-repeat center;width: 200px;height: 200px;}
    }
  }

  #cnt2{
    span, strong, a{display: inline-block;}
    .project{
      + .project{margin-top: 100px;}
      position: relative;width: 770px;height: 520px;color: $black;
      > ul li{float: left;}
      > ul li:first-child a, ul li:first-child + li{@include transition(all 0.3s);}
      > ul li + li{margin-left: 40px;opacity: 0;}
      ul li a{
        @include border-radius(20px);
        position: relative;height: 520px;width: 330px;background: #fff;border: 1px solid #ccc;
        .txt_area{
          width: 250px;height: 384px;margin-top: 60px;margin-left: 40px;
          .tit{
            width: 100%;height: 90px;
            span{font-weight: 700;font-size: 16px;line-height: 22px;}
            strong{margin-top: 20px;font-size: 32px;}
          }
          .period{
            width: 100%;height: 34px;margin-top: 260px;
            span{font-weight: 700;}
           .tit_date{position: absolute;display: block;}
           .tit_date::before{content: "";position: absolute;background: $black;width: 220px;height: 2px;top: -20px;left: 0}
           .data{
             margin-top: 20px;
             :last-child{margin-left: 28px;position: absolute;}
             :last-child::before{content: "";position: absolute;background: $black;width: 12px;height: 2px;top: 6px;left: -20px;}
            }
          }
          .btn_more{position: absolute;right: 20px;bottom: 20px;}
        }
      }
      .explan_kor{
        color: $black;width: 330px;height: 520px;font-family: $korFont;/* background: red; */
        span, strong{display: block;}
        span, p{font-size: 12px;}
        span{padding-top: 60px;}
        strong{font-size: 40px;margin-top: 8px}
        p{line-height: 22px;margin-top: 24px;}
      }
      > ul li a .bg_img::before{
        @include transition(all 0.3s);
        @include border-radius(20px);
        content: "";position: absolute;top: 0;left: 0;background: no-repeat center;width: 100%;height: 100%;z-index: -1;opacity: 0;
      }
      &:nth-child(1) ul li a .bg_img::before{background-color: rgb(216, 76, 76);}
      &:nth-child(2) ul li a .bg_img::before{background-color: yellowgreen;}
      &:nth-child(3) ul li a .bg_img::before{background-color: coral;}

      > ul .pj_card:first-child:hover a, > ul .pj_card:first-child a:focus{
        @include transform(translateY(-20px));
        box-shadow: 10px 60px 80px 0 rgba(0, 0, 0, .5);
      }
      ul .pj_card:hover + li{opacity: 1;}
      /* .pj_card a:focus, .explan_kor{opacity: 1;} *///??????포커스?
      ul .pj_card:hover a>.bg_img::before, ul .pj_card a:focus>.bg_img::before{opacity: 1;}

    }
    .project li:nth-child(2) > ul li{float: right;}
    #pj1{margin-top: 240px;}
    .even ul li{
      float: right;
      .explan_kor{margin-right: 40px;}
    }
  }

  #cnt3{
    .direct{
      margin-top: 264px;width:770px;height: 160px;margin-bottom: 120px;
      .tit_txt{
        position: relative;
        strong{
          font-size: 40px;font-family: $korFont;color: $black;
          :last-child{margin-left: 160px;}
          .imgicon{position: absolute;width: 200px;height:200px;background: no-repeat center;z-index: -1;}
          .head{
            background-image: url('../images/main/emoji_head.png');top: -80px;left: 152px;z-index: 0;cursor: pointer;
            .me{
              @include box-shadow(10px 20px 40px 0 rgba(0, 0, 0, .5));
              @include border-radius(16px);
              opacity: 0;position: absolute;top: -8px;left: -100px;font-weight: 400;font-size: 12px;width: 80px;height: 40px;background :#fff;padding: 14px;text-align: center;color: $black;
              &::before{
                content: "";position: absolute;width: 0;height: 0;left: calc(50% - 8px);bottom: -8px;
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;
                border-top: 8px solid #fff;
              }
              a{margin-left: -12px;padding: 12px 22px 20px;}
            }
          }
          .head:hover .me, .head:focus .me{opacity: 1;}
        }
      }
      .btn{
        width: 380px;height: 48px;margin-top: 72px;
        a{display: inline-block;line-height: 46px;text-align: center;}
        button, a{
          @include transition(all 0.3s);
          @include border-radius(16px);
          width: 180px;height: 100%;font-size: 22px;font-weight: 700;
        }
        .contact{background: #4c4882;}
        .top{border: 1px solid $greyLight;color: $greyLight;margin-left: 14px;}
        .contact:hover, .contact:focus{
          @include transform(translateY(-4px));
          box-shadow: 10px 20px 40px 0 rgba(0, 0, 0, .5);background: #5c4aca;
        }
        .top:hover, .top:focus{color: $black;border-color: $black;}
      }
    }
    .deco{
      position: relative;width: 770px;height: 160px;margin-bottom: 200px;
      .arrowup{
        @include keyframe(arrowup){
          100%{
            transform: translateY(-52px) rotate(180deg)
          }50%{
            transform: translateY(-60px) rotate(180deg)
          }0%{
            transform: translateY(20px) rotate(180deg)
          }
        }
        @include animation(arrowup, 2s, ease-in-out, 0s, infinite, backwards);
        position: absolute;background: url('../images/main/arrow_down_70x100.svg')no-repeat center;width: 70px;height: 100px;
      }
      .arrow1{top:  -400px;left: 0;}
      .arrow2{top: 0;left: 320px;}
      .txt_grey{color: $greyLight;font-weight: 700;font-size: 20px;line-height: 24px;}
      .imgicon{position: absolute;background: no-repeat center;width: 200px;height: 200px;}
      .sun{
        @include keyframe(sunmov){
          100%{
            transform: scale(1)
          }50%{
            transform: scale(1.2)
          }0%{
            transform: scale(1)
          }
        }
        @include animation(sunmov, 3s, linear, 0s, infinite, none);
        background-image: url('../images/main/emoji_sun.png');top: -500px;right: -40px;
      }
      .moon{
        @include keyframe(moonmov){
          100%{
            transform: rotate(-24deg)
          }40%{
            transform: rotate(8deg)
          }0%{
            transform: rotate(-24deg)
          }
        }
        @include animation(moonmov, 3s, ease, 0s, infinite, none);
        background-image: url('../images/main/emoji_moon.png');top: -160px;right: 80px;
      }
    }
  }
  
  .ft_cnt{
    position: relative;bottom: 80px;left: -440px;width: 1280px;height: 220px;
    #footer{
      .footer_area{
        font-weight: 700;
        div:nth-child(1){width: 400px;}
        div{float: left;line-height: 24px;}
        .footer_left{
          position: fixed;width: 1280px;height: 140px;bottom: 0;left: calc(50% - 640px);color: $greyLight;
          strong, a{display: inline-block;}
          strong{margin-bottom: 8px;}
          .fixed_info ul li a{
            position: relative;padding: 2px 8px 4px 0;
            &:hover, &:focus{color: $black;}
          }
          .fixed_info ul li a::before{
            @include transition(width 0.3s);
            content: "";position: absolute;background: $black;width: 0;height: 2px;bottom: 4px;left: 0;mix-blend-mode: difference;
          }
          .fixed_info ul li a:hover::before{width: 100%;}
        }
        .footer_right{color: $greyLight;margin-left: 440px;}
      }
    }
  }
}

#dim, #modalContact, #modalIntro{position: fixed;z-index: 1200;/* visibility: hidden; */}
#dim{
  @include backdrop-filter(blur(100px));
  /* display: none; */top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0,0,0,.3);
}

#SwitchMD{
  .btn_toggle{
    @include keyframe(theme_btn){
      100%{
        transform: translateX(-80px);
      }0%{
        transform: translateX(0);
      }
    }
    @include border-radius(36px 0 0 36px);
    position: fixed;top: 100px;right: -160px;width: 160px;height: 72px;background: $black;overflow: hidden;
    .btn_inner{
      @include border-radius(50%);
      position: absolute;top: calc(50% - 20px);left: 16px;width: 40px;height: 40px;background: #e5e5e5;
      &::before{
        @include keyframe(switch_anime){
          100%{
            transform: translateX(20px);
          }0%{
            transform: translateX(0);
          }
        };
        @include border-radius(50%);
        @include transition(all 0.3s);
        content: "";position: absolute;top: 0;left: 20px;width: 40px;height: 40px;background: $black;
      }
      .btn_txt{position: absolute;top: calc(50% - 10px);left: 32px;width: 80px;font-family: $korFont;font-size: 16px;color: $white;}
      .thm_dark{display: block;}
      .thm_bright{display: none;}
    }
  }
  .btn_toggle:hover, .btn_toggle:focus{
    @include animation(theme_btn, 0.3s, cubic-bezier(0.77,-0.79, 0.81, 0.28), 0s, 1, forwards);
    background: $white;
    .btn_inner{
      background: $black;
      &::before{
        @include animation(switch_anime, 0.3s, cubic-bezier(0.77,-0.79, 0.81, 0.28), 0s, 1, forwards);
        background: $white;
      }
      .thm_dark{display: none;}
      .thm_bright{display: block;color: $black;}
    }
  }
}


#modalIntro{
  visibility: hidden;
  @include border-radius(20px);
  top: calc(50% - 260px);left: calc(50% - 385px);width: 770px;height: 520px;background: #6d1dff;
  .modal_flat{
    strong{
      position: absolute;top: 100px;left: 60px;
      span{font-size: 40px;}
      :first-child{display: block;margin-bottom: 24px;}
    }
    .modal_info{
      position: absolute;width: 330px;height: 340px;right: -40px;top: 100px;
      > li + li{margin-top: 20px;}
      .info{
        @include border-radius(24px);
        position: relative;background: $white;
        .li_tit{
          position: relative;width: 100%;height: 60px;
          span{
            position: absolute;font-weight: 700;color: $black;left: 32px;top: 24px;
          }
        }
        &::before{
          @include transition(all 0.5s);
          @include transform(rotate(0deg));
          content: "";position: absolute;top: 14px;right: 32px;width: 32px;height: 32px;background: url('../images/main/arrow_down16x16.svg')no-repeat center;
        }
        &.active::before{
          @include transform(rotate(180deg));
        }

        ul{
          @include border-radius(24px);
          height: 180px;width: 100%;padding: 60px 0;margin-top: -60px;background: $white;
          li{padding: 10px 32px;width: 100%;height: 20px;line-height: 20px;color: $black;font-family: $korFont;font-size: 12px;background: $white;}
        }


      }
      /* .profile{display: none;} */
      .profile .info_list{
        :first-child{display: inline-block;width: 48px;margin-right: 12px;}
      }
      .education{
        .info_list span{display: inline-block;vertical-align: top;}
        .info_list :first-child{width: 48px;margin-right: 12px;}
        .align, span + span{margin-bottom: 24px;}
      }
      .skills > ul{
        .skill_list{
          width: 100%;height: 40px;margin-bottom: 8px;
          .icon{display: inline-block;width: 40px;height: 40px;background: no-repeat center;}
          span + span{margin-left: 2px;}

        }
        .publishing{
          .pb1{background-image: url('../images/main/skillicon_html.svg');}
          .pb2{background-image: url('../images/main/skillicon_css.svg');}
          .pb3{background-image: url('../images/main/skillicon_sass.svg');}
          .pb4{background-image: url('../images/main/skillicon_jquery.svg');}
          .pb5{background-image: url('../images/main/skillicon_javascript.svg');}
          .pb6{background-image: url('../images/main/skillicon_bootstrap.svg');}
        }
        .design{
          .ds1{background-image: url('../images/main/skillicon_photoshop.svg');}
          .ds2{background-image: url('../images/main/skillicon_illust.svg');}
          .ds3{background-image: url('../images/main/skillicon_xd.svg');}
          .ds4{background-image: url('../images/main/skillicon_aftereffect.svg');}
          .ds5{background-image: url('../images/main/skillicon_zeplin.svg');}
          .ds6{background-image: url('../images/main/skillicon_blender3d.svg');}
        }
      }
    }
  }
  .iconbtn{
    width: 60px;height: 140px;margin-top: -142px;bottom: 80px;left: -30px;
    button, a{
      @include border-radius(24px);
      position: absolute;width: 60px;height: 60px;background: no-repeat center;background-color: #431f87;
    }
    a{top: 80px;}
    button::before, a::before{
      @include transition(all 0.3s);
      content: "";position: absolute;width: 60px;height: 60px;top: 0;left: 0;
    }
    .like::before{background-image: url('../images/main/icon_heart60x60.png');}
    .chat::before{background-image: url('../images/main/icon_talk60x60.png');}

    .count_numb{//스크립트 동적생성 하트아이콘 클릭 -> span태그 생성
      @include border-radius(16px);
      font-family: $korFont;color: $black;font-size: 14px;padding: 12px 18px;background: $white;top: -52px;
      &::before{@include translateX-50;
        content: "";position: absolute;width: 0;height: 0;left: calc(50%);bottom: -8px;border-left: 8px solid transparent;border-right: 8px solid transparent;border-top: 8px solid $white;}
    }

  }
  .like:hover::before, .like:focus::before{
    @include keyframe(hoverheart){
      100%{
        transform: scale(1)
      }50%{
        transform: scale(1.8)
      }0%{
        transform: scale(1)
      }
    };
    @include animation(hoverheart, 0.5s, ease, 0s, infinite, none);
  }
  .chat:hover::before, .chat:focus::before{
    @include keyframe(hoverchat){
      100%{
        transform: rotate(0deg) scale(1)
      }80%{
        transform: rotate(10deg) scale(.9)
      }20%{
        transform: rotate(-10deg) scale(1.2)
      }0%{
        transform: rotate(0deg) scale(1)
      }
    }
    @include animation(hoverchat, 0.5s, ease-in-out, 0s, infinite, none);
  }

  .bg_img{
    width: 100%;height: 100%;top: 0;left: 0;z-index: -2;
    .imgicon{position: absolute;background: no-repeat center;}
    .character{
      @include keyframe(charotate){
        100%{
          transform: scale(1) rotate(0deg)
        }50%{
          transform: scale(.9) rotate(360deg)
        }0%{
          transform: scale(1) rotate(0deg)
        }
      }
      @at-root #modalIntro.on .bg_img .character{
        @include animation(charotate, 9600s, linear, 0s, infinite, none);
      }
      //@include animation(charotate, 4200s, linear, 0s, infinite, none);
      background-image: url('../images/main/modal_bg_cha.png');width: 420px;height: 720px;top: 0;left: 110px;
    }
    .canbg{
      @include keyframe(canmov){
        100%{
          transform: scale(1) rotate(0deg)
        }50%{
          transform: scale(.9) rotate(-360deg)
        }0%{
          transform: scale(1) rotate(0deg) 
        }
      }
      width: 200px;height: 260px;
    }
    .can1{
      @include animation(canmov, 500s, linear, 0s, infinite, none);
      background-image: url('../images/main/modal_can1_200x260.png');top: 100px;left: -100px;
    }
    .can2{
      @include animation(canmov, 300s, linear, 1s, infinite, none);
      background-image: url('../images/main/modal_can2_200x260.png');top: -40px;right: 200px;
    }
    .can3{
      @include animation(canmov, 600s, ease, 2s, infinite, none);
      background-image: url('../images/main/modal_can3_200x260.png');bottom: -20px;left: 80px;
    }
  }

  .btn_close_modal{position: absolute;top: 20px;right: 20px;width: 40px;height: 40px;}
}

#modalContact{
  visibility: hidden;
  @include backdrop-filter(blur(100px));
  @include box-shadow(0 0 6rem 0 rgba(0, 0, 0, .5));
  @include border-radius(20px);
  top: calc(50% - 260px);left: calc(50% - 350px);width: 700px;height: 520px;padding-top: 64px;padding-left: 60px;overflow: hidden;background-color: rgba(255, 255, 255, .03);color: $black;
  #contactMe{font-size: 40px;margin-bottom: 88px;}
  input::placeholder{color: $black;}
  input[type="text"]{background: transparent;color: $black;width: 552px;}
  input[type="text"],textarea{font-weight: 700;font-size: 16px;line-height: 24px;}
  textarea{
    color: $black;background: $white;resize: none;border: 1px solid $black;
    &::placeholder{color: $black;}
  }
  textarea::-webkit-scrollbar{width: 12px;background: #ccc; height: 156px}
  textarea::-webkit-scrollbar-thumb{
    @include border-radius(6px);
    background-color: $greyDark;
  }
  input[type="submit"]{
    @include border-radius(16px);
    color: $white;font-weight: 700;font-size: 12px;padding: 15px 16px;width: 80px;height: 40px;background: $black;margin-top: 24px;cursor: pointer;
  }
  #umail{padding: 4px 0;border-bottom: 2px solid $black;margin-bottom: 20px;}
  #umailCnt{
    @include border-radius(20px);
    width: 552px;height: 160px;padding: 12px 16px;
  }
  .btn_close_modal{position: absolute;top: 20px;right: 20px;width: 40px;height: 40px;}
}

@media screen and (max-width: 360px){
  .fixed_bg{
    left: 50%;
    .bg_line{
      width: 320px;height: 480px;
      .box{display: none;}
      &:nth-child(1)::before{top: 0;display: none;}

      .wisesaying{font-size: 58px;line-height: 52px;}
      .hello{display: none;}
      .now{font-size: 58px;line-height: 60px;bottom: 60px;}
      #nowTime{left: 0;bottom: 6px;}
      .human_area{
        .human{
          z-index: 1;top: 0;left: -4px;
          img{top: 0;}
        }
        .talk_area{
          /* display: none; */
          top: 0;left: 0;
          .human_talk{
            @include box-shadow(10px 40px 60px 0 rgba(0, 0, 0, .2));
            background: $black;
            &::before{
              left: 32%;bottom: -32px;border-top: 32px solid $black;border-left: 40px solid transparent;border-right: 0 solid transparent;
            }
            .talkguide{color: #fff;}
          }
          .talk2{display: none;}
        }
      }
      .txt_hire{
        bottom: 23%;right: -30%;
        &::before{
          width: 160px;height: 160px
        }
        .btn_txt{
          @include keyframe(rot_txt){
            100%{
              transform: rotate(-360deg);
            }0%{
              transform: rotate(0);
            }
          };
          @include animation(rot_txt, 60s, linear, 0s, infinite, backwards);
          z-index: -1;left: 35%;top: 35%;font-size: 20px;line-height: 24px;width: 80px;height: 80px;color: $greyLight;
        }
        .move_cycle{color: $white;}
        .coffee{
          @include keyframe(mov_coffee){
            100%{
              transform: rotate(-12deg);
            }50%{
              transform: rotate(2deg);
            }0%{
              transform: rotate(-12deg);
            }
          };
          @include animation(mov_coffee, 2s, ease, 0s, infinite, backwards);
          top: -48px;left: 80px;
        }
        .fire{
          @include keyframe(mov_fire){
            100%{
              transform: scale(0.9, 1.1) translateY(2px) rotate(0);
            }20%{
              transform: scale(1.2, 0.9) translateY(12px) rotate(8deg);
            }0%{
              transform: scale(0.9, 1.1) translateY(2px) rotate(0);
            }
          };
          @include animation(mov_fire, 0.14s, ease-in-out, 0s, infinite, backwards);
          bottom: -50px;left: -182px;
        }
      }
    }
  }
  
  #scrollCnt{
    left: 0;top: 620px;width: 320px;/* background: red; */

    #cnt1{
      .tit_txt{
        @include backdrop-filter(blur(20px));
        @include box-shadow(0 2rem 6rem 0 rgba(0, 0, 0, 0.5));
        @include border-radius(20px);
        background: -webkit-radial-gradient(closest-corner, rgba(0, 0, 0, 0.05), rgba(255, 255, 255, 0.1));background: -moz-radial-gradient(closest-corner, rgba(0, 0, 0, 0.05), rgba(255, 255, 255, 0.1));background: -o-radial-gradient(closest-corner, rgba(0, 0, 0, 0.05), rgba(255, 255, 255, 0.1));background: radial-gradient(closest-corner, rgba(0, 0, 0, 0.05), rgba(255, 255, 255, 0.1));
        width: 100%;height: 320px;padding: 48px 20px;border: 1px solid rgba(89, 89, 89, .3);
        .imgicon{width: 140px;height: 140px;}
        .head{
          @include bgsize(contain);
          top: 2px;left: 16px;z-index: 1;
        }
        .thumsup{top: -12px;right: -60px;z-index: 1;width: 160px;height: 160px;}
        .talkbox{
          @include bgsize(contain);
          top: 124px;right: 0;z-index: 1;
        }
        .point{
          @include bgsize(contain);
          @include keyframe(mov_point){
            100%{
              transform: translate(40px, 40px) rotate(45deg);
            }50%{
              transform: translate(0, 0) rotate(45deg);
              
            }0%{
              transform: translate(40px, 40px) rotate(45deg);
            }
          };
          @include animation(mov_point, 1s, ease-in-out, 0s, infinite, backwards);
          top: 160px;left: 4px;width: 200px;height: 200px;
        }
        .intro_main_txt{
          :nth-child(2){margin-left: 72px;}
          font-size: 28px;line-height: 60px;
          button{margin-left: 0;}
          button::before{bottom: 0;}
        }
      }
      .deco{ 
        position: relative;background: black;text-align: center;
        margin-top: 0;margin-left: 0;
        p{
          @include transition(opacity 0.5s);
          @include keyframe(opa_txtsc){
            100%{
              opacity: 0;
            }80%{
              opacity: 1;
            }20%{
              opacity: 1;
            }0%{
              opacity: 0;
            }
          };
          @include animation(opa_txtsc, 2s, ease-in, 0s, infinite, backwards);
          position: absolute;top: -448px;font-size: 12px;color: $white;text-align: center;opacity: 1;
        }
        :first-child{top: -468px;left: calc(50% - 20%);}
        :first-child + p{left: calc(50% - 25%);}
        .arrow{
          top: 80px;left: calc(50% - 35px);
        }
        .mouse{display: none;}
      }
      .deco p.on{
        opacity: 0;
        animation: none;
      }
    }

    #cnt2{
      margin-top: 600px;
      .project{
        + .project{margin-top: 120px;}
        width: 100%;
        > ul li{float: none;}
        > ul li + li{display: none;}
        ul li a{
          @include backdrop-filter(blur(20px));
          @include box-shadow(0 2rem 6rem 0 rgba(0, 0, 0, 0.5));
          width: 320px;border: 1px solid rgba(89, 89, 89, .3);
          background: -webkit-radial-gradient(closest-corner, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.1));background: -moz-radial-gradient(closest-corner, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.1));background: -o-radial-gradient(closest-corner, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.1));background: radial-gradient(closest-corner, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.1));
          .txt_area{
            color: $white;
            .period{
              .tit_date::before{background: $white;}
              .data{
                :last-child::before{background: $white;}
              }
            }
            .btn_more{background: url('../images/main/btn_more_white.svg')no-repeat center;width: 32px;height: 32px;}
          }
        }
      }
      
    }

    #cnt3{
      .direct{
        /* @include backdrop-filter(blur(20px));
        @include box-shadow(0 2rem 6rem 0 rgba(0, 0, 0, 0.5));
        @include border-radius(20px); */
        width: 100%;height: 160px;margin-top: 548px;margin-bottom: 160px;padding: 36px 20px;/* border: 1px solid rgba(89, 89, 89, .3);background: rgba(0, 0, 0, .1); */
        .tit_txt{
          display: none;width: 100%;
          strong{
            font-size: 28px;
            :first-child{display: inline-block;margin-bottom: 16px;}
            :last-child{margin-left: 120px;}
            .imgicon{
              @include bgsize(contain);
              width: 140px;height: 140px;
            }
            .head{
              top: -62px;left: 120px;
              .me{top: -16px;left: -84px;}
            }
          }
        }
        .btn{
          position: relative;width: 100%;height: 54px;top: 72px;
          button{width: 54px;font-size: 0;}
          a{width: 54px;font-size: 0;}
          .contact{display: none;}
          .top{
            @include box-shadow(0 1rem 1rem 0 rgba(0, 0, 0, 0.2));
            @include border-radius(22px);
            position: absolute;margin-left: 0;top: 0;right: 0;border: none;background: transparent;
            &::before{
              @include transition(all 0.5s);
              @include bgsize(contain);
              content: "";position: absolute;width: 54px;height: 54px;background: url('../images/main/icon_top.png')no-repeat center;z-index: 1;top: -1px;left: -1px;
            }
            &:hover::before, &:focus::before{
              top: 8px;
            }
          }
        }
      }
      .deco{
        width: 100%;
        .arrowup{
          @include keyframe(arrowup2){
            100%{
              transform: translateY(20px);
            }50%{
              transform: translateY(-60px);
            }0%{
              transform: translateY(-52px);
            }
          };
          @include animation(arrowup2, 2s, ease-in-out, 0s, infinite, backwards);
        }
        .arrow1{top: -720px;left: calc(50% - 35px);}
        .arrow2, .txt_grey{display: none;}
        .imgicon{
          @include bgsize(contain);
          width: 140px;height: 140px;
        }
        .sun{top: -480px;left: -24px;}
        .moon{top: -380px;right: -40px;}
      }
    }

    .ft_cnt{
      position: relative;top: 0;left: 0;width: 222px;height: 200px;margin-top: 200px;
      #footer{
        .footer_area{
          div:nth-child(1){width: auto;}
          div{float: none;}
          .footer_left{
            position: relative;width: 0;height: 54px;bottom: 500px;left: 0;/* background: red; */
            .fixed_info{
              strong{display: none;}
              ul li{
                float: left;height: 48px;margin-left: 20px;
                a{
                  @include box-shadow(0 1rem 1rem 0 rgba(0, 0, 0, 0.2));
                  @include border-radius(20px);
                  background: transparent;line-height: 48px;font-size: 0;width: 54px
                }
                a::before{display: none;}
                a::after{
                  @include transition(all 0.5s);
                  @include bgsize(contain);
                  content: "";position: absolute;top: 0;left: 0;width: 54px;height: 54px;background: no-repeat center;
                }
                a:hover::after, a:focus::after{
                  top: 8px;
                }
                .ft_icon1::after{background-image: url('../images/main/icon_mail.png');}
                .ft_icon2::after{background-image: url('../images/main/icon_git.png');}
                .ft_icon3::after{background-image: url('../images/main/icon_chat.png');}
              }
            }
          }
        }
      }
    }

  }

  #modalIntro{
    width: 320px;
    .modal_flat{
      strong{
        top: 40px;left: 24px;
        span{font-size: 28px;}
        :first-child{margin-bottom: 12px;}
      }
      .modal_info{
        width: 280px;height: 380px;left: calc(50% - 140px);top: 180px;
        > li + li{margin-top: 8px;}
        .education{
          .info_list :first-child{width: 48px;margin-right: 4px;}
        }
        .skills > ul{
          .skill_list{
            .icon{ width: 32px;height: 32px;}
            span + span{margin-left: 0;}
            .mgl{margin-left: 2px;}
          }
        }
      }
    }
    .iconbtn{display: none;}
    .bg_img{
      @include border-radius(20px);
      width: 320px;height: 520px;overflow: hidden;
      .character{
        @include bgsize(contain);
        background-image: url('../images/main/modal_bg_cha2.png');
        width: 600px;height: 1029px;top: -40px;left: -80px;
      }
      .can1{top: 0;left: 0;}
      .can2{top: 100px;left: 220px;z-index: 1;}
      .can3{top: 420px;left: -60px;}
    }
  }
}