@charset "utf-8";
@import "_mixin", "_var", "_function";

@font-face{
  font-family: SongMyung;
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/SongMyung/SongMyung-Regular.eot');
  src: url('../fonts/SongMyung/SongMyung-Regular.eot#iefix') format("embedded-opentype"),
  url('../fonts/SongMyung/SongMyung-Regular.woff2') format("woff2"),
  url('../fonts/SongMyung/SongMyung-Regular.woff') format("woff"),
  url('../fonts/SongMyung/SongMyung-Regular.otf') format("opentype");
}

@font-face{
  font-family: RozhaOne;
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/RozhaOne/RozhaOne-Regular.eot");
  src: url("../fonts/RozhaOne/RozhaOne-Regular.eot#iefix") format("embedded-opentype"),
  url("../fonts/RozhaOne/RozhaOne-Regular.woff2") format("woff2"),
  url("../fonts/RozhaOne/RozhaOne-Regular.woff") format("woff"),
  url("../fonts/RozhaOne/RozhaOne-Regular.otf") format("opentype");
}

//.fixed_bg
.fixed_bg{
  @include transition(opacity 0.5s);
  opacity: 1;
  .bg_full{background: url("../images/kumkang/bg_full_top.jpg")no-repeat 0 70%;}
}
.fixed_bg.on{opacity: 0;}

//#movMain
#movMain{
    #cnt1{
      width: 100%;
      .pc_view{
        @include box-shadow(10px 40px 60px 0 rgba(0, 0, 0, .4));
        @include border-radius(20px);
        position: relative;width: 100%;height: 520px;border: 8px solid #191919;margin-bottom: 80px;overflow: hidden;cursor: pointer;
        .img_pc{
          @include bgsize(cover);
          display: block;width: 1080px;height: 2980px;background: url('../images/kumkang/index_pc_1920_1x.jpg')no-repeat -100px 0;
        }
        .dim{
          @include transition(opacity 0.3s);
          position:absolute;top: 0;left: 0;width: 880px;height: 520%;background: rgba(0, 0, 0, .7);opacity: 1;
          p{font-size: 14px;color: $white;text-align: center;padding-top: 248px;}
          .mtxt{display: none;}
        }
        .dim.on{opacity: 0;}
      }
      .pc_view.on{
        @include box-shadow(0 0 0 2px #e5e5e5);
      }
      .pc_view:hover .img_pc, .pc_view .img_pc:focus{
        @include keyframe(movpc){
          100%{
            transform: translateY(0)
          }50%{
            transform: translateY(-2472px)
          }0%{
            transform: translateY(0)
          }
        };
        @include animation(movpc, 12s, ease-in-out, 0s, 1, forwards);
      }

      .info{
        width: 100%;
        .info_txt1{
          height: 140px;margin-bottom: 120px;
          strong{display: block;font-size: 20px;line-height: 28px;color: $greyLight;}
          p, span{display: inline-block;font-family: $korFont;font-size: 14px;line-height: 20px;color: $greyDark;}
          p{margin-top: 24px;float: left;}
          p span{display: block;margin: 0;}
          span{margin-left: 70px;margin-top: 24px;width: 220px;}
        }
        .img_history{
          width: 100%;height: 280px;margin-bottom: 40px;
          .picture{
            @include bgsize(cover);
            background: url("../images/kumkang/img_history.jpg") no-repeat 0 80%;width: 100%;height: 100%;
          }
        }
        .inspire_txt{
          width: 100%;height: 360px;color: $greyDark;margin-bottom: 80px;
          .circles{
            width: 100%;height: 262px;margin-bottom: 40px;
            li{
              @include border-radius(50%);
              float: left;width: 262px;height: 100%;border: 1px solid $greyDark;color: $greyLight;text-align: center;padding-top: 124px;
            }
            li + li{margin-left: -56px;}
          }
          .tit{font-weight: 400;width: 180px;height: 40px;vertical-align: top;font-size: 20px;}
          p{
            display: inline-block;font-size: 14px;margin-left: 40px;line-height: 14px;
            span{display: block;margin-bottom: 8px;}
          }
        }
      }

      .bg320{
        position: absolute;left: 0;width: 100%;height: 320px;background: no-repeat 0 -320px;z-index: -1;
      }
      .bgi1{top: 1780px;background-color: #533434;}
      .bgi2{
        @include box-sizing;
        @include bgsize(cover);
        top: 3320px;height: 320px;background: url('../images/kumkang/bg_full_mid.jpg')no-repeat fixed 50%;
      }

      .font_guide{
        width: 100%;height: 320px;
        .font{
          width: 100%;height: 68px;padding-top: 100px;
          ul li{
            float: left;
            + li{margin-left: 110px;}
            span{font-size: 28px;}
            span + span{margin-left: 16px;}
            .font_info{
              font-family: $korFont;font-size: 14px;margin-bottom: 16px;color: #735151;
              span{display: inline-block;margin-left: 16px;font-size: 14px;}
            }
            .ft_ex{color: #907272;}
          }

          .basic_font{
            font-family: $korFont;
            .w_mid{font-weight: 500;}
            .w_bold{font-weight: 700;}
          }
          .high_font .ft_ex{
            :first-child{font-family: SongMyung;font-size: 32px;}
            :last-child{font-family: RozhaOne;font-size: 32px;}
          }
        }

        .brand{display: none;}
      }
      .tm_view{
        width: 100%;
        > ul > li{float: left;}
        ul{
          .fade{
            @include transition(all 0.5s);
            @include transform(translateX(-40px));
            opacity: 0;
          }
          /* :first-child{@include transform(translateX(-40px));}
          :last-child{@include transform(translateX(40px));} */
          .fade.on{
            @include transform(translateX(0));
            opacity: 1;
          }
        }
        .tablet{
          @include box-shadow(10px 40px 60px 0 rgba(0, 0, 0, .4));
          @include border-radius(20px);
          position: relative;width: 510px;height: 812px;margin-top: -80px;border: 8px solid #191919;overflow: hidden;
          .display_t{
            width: 100%;height: 100%;background: url('../images/kumkang/index_tablet_768_1x.jpg')no-repeat top;
          }
          p{position: absolute;bottom: -80px;left: 0;font-size: 14px;line-height: 20px;color: $greyDark;}//?
        }
        .color{
          width: 290px;margin-top: 100px;margin-left: 40px;font-family: $korFont;color: $greyDark;font-size: 14px;
          p{line-height: 20px;margin-bottom: 20px;}
          ul li{margin-left: 200px;position: relative;height: 32px;padding: 20px 0;}
          ul li::before{content: "";position: absolute;top: 0;left: -200px;width: 180px;height: 56px;background: no-repeat center;}
          .greys_c{
            :nth-child(1)::before{background-image: url('../images/kumkang/color191919.svg');}
            :nth-child(2)::before{background-image: url('../images/kumkang/color595959.svg');}
            :nth-child(3)::before{background-image: url('../images/kumkang/color949494.svg');}
            :nth-child(4)::before{background-image: url('../images/kumkang/colorcccccc.svg');}
            :nth-child(5)::before{background-image: url('../images/kumkang/colore5e5e5.svg');}
          }
          .tit{margin-top: 60px;}
          .highl_c{
            :nth-child(1)::before{background-image: url('../images/kumkang/colore0d8cc.svg');}
            :nth-child(2)::before{background-image: url('../images/kumkang/colorcfb89f.svg');}
            :nth-child(3)::before{background-image: url('../images/kumkang/colorb82830.svg');}
          }
        }
        .mobile{
          @include box-shadow(10px 40px 60px 0 rgba(0, 0, 0, .4));
          @include border-radius(40px);
          width: 290px;height: 580px;margin-top: 100px;margin-left: 40px;margin-bottom: 80px;overflow: hidden;border: 8px solid #191919;
          .display_m{
            width: 290px;height: 100%;background: url('../images/kumkang/index_mobile_320_1x.jpg') no-repeat -8px -1200px;
          }
        }
      }
      .brand_info{
        width: 100%;height: 60px;margin-top: 1400px;font-family: SongMyung;font-size: 20px;color: #cfb89f;
        p{position: relative;line-height: 28px;}
        p::before{content: "";position: absolute;left: 0; top: -80px;width: 132px;height: 22px;background: url('../images/kumkang/kumkang_typ_logo.svg')no-repeat center;}
      }
    }
    #cnt2{
      margin-top: 220px;width: 100%;
      .tit_txt{
        width: 100%;height: 48px;color: $greyDark;
        h3{
          font-weight: 400;display: inline-block;width: 180px;line-height: 24px;margin-right: 40px;font-size: 20px;color: $greyLight;
          span{width: 100%;display: block;}
        }
        p{
          display: inline-block;font-size: 14px;width: 620px;line-height: 20px;height: 48px;margin-top: -100px;
          span{display: block;}
        }
      }
      
      ul{
        width: 100%;
        li{height: 320px;}
        .list{
          font-size: 14px;line-height: 20px;color: $greyLight;
          ul > li{
            width: 290px;float: right;
            strong{
              font-weight: 400;display: block;margin-top: 40px;
              span{display: block;font-size: 20px;margin-bottom: 8px;}
            }
            .sub_txt{margin-top: 60px;}
            .sub_txt + p{font-family: $korFont;color: $greyDark;margin-top: 12px;}
          }

          .capture{
            width: 550px;height: 320px;background: no-repeat center;margin-right: 40px;margin-bottom: 80px;
            div{width: 100%;height: 100%;}
            .img_ac1{background-image: url('../images/kumkang/capture1_1x.jpg');}
            .img_ac2{background-image: url('../images/kumkang/capture2_1x.jpg');}
            .img_ac3{background-image: url('../images/kumkang/capture3_1x.jpg');}
          }
        }
        .ac1{margin-top: 80px;}
        .ac2{
          ul li{float: left;}
          .capture{margin-right: 0;margin-left: 40px;}
        }
      }
    }

    #footer{
      width: 100%;margin-top: 400px;
      .label{
        position: absolute;top: 5200px;left: 0;height: 60px;width: 100%;background: #191919;padding: 16px;overflow: hidden;
        div{display: inline-block;}
        .mov_label{
          @include keyframe(movlabel1){
            100%{
              transform: translateX(-100%)
            }0%{
              transform: translateX(0%)
            }
          };
          width: 100%;height: 28px;background: url('../images/kumkang/pattern_label.svg') repeat-x;
        }
        .lb1{@include animation(movlabel1, 30s, linear, 0s, infinite, backwards);position: relative;top: 0;left: 0;}
        .lb2{@include animation(movlabel1, 30s, linear, 0s, infinite, backwards);position: absolute;top: 16px;left: 100%;}
      }
      .bg_full{
        position: absolute;top: 5260px;left: 0;width: 100%;height: 180px;background: no-repeat center;z-index: -1;overflow: hidden;
        .bg_img{
          @include bgsize(cover);
          width: 100%; height: 100%;background-image: url('../images/kumkang/bg_full_btm.jpg');
        }
      }
      .btn_area{
        width: 100%;color: $greyLight;padding-top: 60px;
        ul li{
          float: left;height: 100px;width: 220px;
          + li{margin-left: 40px;}
          > p, a{font-weight: 700;}
        }
        .ft_txt1 p{line-height: 20px;}
        .ft_txt2 p, .ft_txt3 p{
          @include transition(all 0.5s);
          font-size: 12px;margin-top: 20px;font-weight: 400;line-height: 20px;opacity: 0;
        }

        .ft_txt2 a, .ft_txt3 a{display: inline-block;line-height: 20px;position: relative;}
        .ft_txt2 a::before, .ft_txt3 a::before{
          @include transition(width 0.3s);
          content: "";position: absolute;bottom: -6px;left: 0;width: 0;height: 2px;background: $greyLight;
        }

        .ft_txt2.on a:hover + p, .ft_txt2.on a:focus + p, .ft_txt3.on a:hover + p, .ft_txt3.on a:focus + p{opacity: 1;}
        .ft_txt2.on a:hover::before, .ft_txt2.on a:focus::before, .ft_txt3.on a:hover::before, .ft_txt3.on a:focus::before{width: 100%;}
      }
    }
}

@media screen and (max-width: 360px){
  .fixed_bg{
    width: 100%;height: 100vh;
    .bg_full{
      @include bgsize(cover);
      background-position: 20% 50%;
    }
  }

  //#movMain
  #movMain{
    #cnt1{
      width: 100%;margin: 0 auto;
      .pc_view{
        @include border-radius(8px);
        width: 320px;height: 170px;margin: 620px auto 0;border: 4px solid #191919;
        .img_pc{
          @include keyframe(movm1){
            100%{
              transform: translateY(0)
            }80%{
              transform: translateY(0)
            }50%{
              transform: translateY(-712px)
            }40%{
              transform: translateY(-712px)
            }0%{
              transform: translateY(0)
            }
          };
          @include animation(movm1, 8s, ease-in-out, 4s, infinite, backwards);
          @include bgsize(contain);
          width: 320px;height: 883px;
          background-position: 0 0;
        }
        .dim{
          display: none;
          width: 100%;
          .pctxt{display: none;}
          .mtxt{display: block;}
        }
      }
      .pc_view:hover .img_pc, .pc_view .img_pc:focus{
        animation-play-state: paused;
      }
      .info{
        .info_txt1{
          height: 320px;width: 320px;margin: 80px auto 0;
          strong{
            font-size: 24px;line-height: 32px;
          }
          p, span{
            line-height: 24px;font-size: 14px;
          }
          p span{display: inline;margin: 0;}
          span{margin-left: 0;}
        }
        .img_history{
          margin: 80px 0;height: 520px;
          .picture{
            @include box-sizing;
            height: 100%;overflow: hidden;top: 1200px;left: 0;background-position: 0;background-attachment: fixed;
          }
        }
        .inspire_txt{
          width: 320px;height: 280px;margin: 0 auto;
          .circles{
            width: 100%;height: 0;
            li{
              @include border-radius(0);
              width: 0;margin-left: 20px;float: none;height: 0;border: 140px solid transparent;border-bottom: 70px solid #533434;position: relative;top: -804px;
              span{
                position: relative;display: inline-block;width: 160px;margin-left: -80px;margin-top: 62px;z-index: 1;color: $white;
              }
            }
            li:before{
              content: '';position: absolute;left: -140px;top: 194px;width: 0;height: 0;border: 140px solid transparent;border-top: 70px solid #533434;
            }
            li + li{margin-left: 20px;margin-top: -248px;}
          }
          .tit{font-size: 20px;font-weight: 700;}
          p{margin-left: 0;margin-top: 28px;line-height: 24px;}
        }
      }

      .bgi1, .bgi2{height: 600px;}
      .bgi1{top: 2200px;}
      .bgi2{top: 4320px;}

      .font_guide{
        width: 320px;margin: 100px auto 0;
        .font{
          padding-top: 0;height: 520px;
          ul li{
            float: none;
            +li{margin-left: 0;margin-top: 80px;}
            span{display: block;font-size: 40px;}
            span + span{margin-left: 0;margin-top: 12px}
            .font_info{
              font-size: 20px;font-family: $engFont;font-weight: 700;margin-bottom: 32px;
              span{display: block;margin-left: 0;font-size: 14px;margin-top: 4px;font-family: $korFont;font-weight: 400;}
            }
          }

          .high_font .ft_ex{
            :first-child{font-size: 44px;}
            :last-child{font-size: 48px;}
          }
        }
      }
      .tm_view{
        width: 320px;margin: 320px auto 0;
        > ul > li{float: none;}
        .tablet{
          @include border-radius(16px);
          width: 320px;height: 416px;margin-top: 0;margin-left: -40px;border: 4px solid #191919;
          .display_t{
            @include bgsize(cover);
            width: 320px;height: 2096px;
          }
          p{display: none;}
        }
        .color{
          margin-left: 10px;
          p{font-family: $engFont;font-weight: 700;font-size: 20px;line-height: 24px;margin-bottom: 24px;}
          .tit{margin-top: 80px;}
        }
        .mobile{margin-left: 80px;margin-bottom: 0;border: 4px solid #191919;}
        
      }
      .brand_info{
        width: 320px;margin-top: 200px;margin-left: 32px;margin-bottom: 80px;
        p::before{top: -48px;}
      }
    }
    #cnt2{
      width: 320px;margin: 200px auto 0;
      .tit_txt{
        height: 160px;
        h3{font-weight: 700;margin-right: 0;}
        p{
          margin-top: 28px;width: 320px;line-height: 24px;
          span{display: inline;}
        }
      }

      ul{
        width: 320px;
        li{height: 320px;margin-bottom: 320px;}
        .list{
          font-size: 20px;font-weight: 700;line-height: 24px;
          ul > li{
            width: 100%;float: none;
            strong{
              font-weight: 700;
              span{margin-bottom: 4px;font-weight: 400;}
            }
            .sub_txt{margin-top: 40px;line-height: 26px;}
            .sub_txt + p{font-size: 14px;font-weight: 400;}
          }
          .capture{
            width: 360px;height: 520px;margin-right: 0;margin-bottom: 0;margin-top: -680px;margin-left: -20px;
            .img_ac1{background-image: url('../images/kumkang/capture1_m1x.jpg');}
            .img_ac2{background-image: url('../images/kumkang/capture2_m1x.jpg');}
            .img_ac3{background-image: url('../images/kumkang/capture3_m1x.jpg');}
          }
        }
        .ac1{margin-top: 160px;}
        .ac2{
          ul li{float: none;}
          .capture{margin-left: -20px;}
        }
      }
    }
    
    #footer{
      width: 360px;margin: 0 auto;
      .label{
        top: 7280px;
        .mov_label{
          width: 1320px;height: 100%;
        }
        .lb2{left: 372%;}
      }
      .bg_full{
        top: 7320px;height: 320px;
        .bg_img{
          background-position: 70% 0;
        }
      }
      .btn_area{
        width: 320px;padding-top: 100px;height: 320px;margin: 0 auto;
        ul :first-child{width: 100%;}
        ul li{
          height: 60px;
          > p {font-size: 16px;}
          + li{
            @include border-radius(24px);
            margin-left: 0;width: 60px;margin-top: 20px;background: $greyLight;
            + li{
              width: 240px;margin-left: 20px;
              a span{
                position: relative;display: inline-block;font-size: 14px;padding-top: 20px;padding-left: 20px;color: $black;
              }
            }
          }
          > a{display: inline-block;height: 100%;width: 100%;}
          > a span{font-size: 0;}
          > a + p{display: none;}
        }
        .ft_txt2 a::before, .ft_txt3 a::before{display: none;}
        .ft_txt2 a{
          @include border-radius(24px);
          overflow: hidden;
          .ver_arrow1{
            @include keyframe(ver_a_mov1){
              100%{
                transform: translateY(-160px);
              }0%{
                transform: translateY(60px);
              }
            };
            @include animation(ver_a_mov1, 2.8s, linear, 0s, infinite, none);
            position: absolute;top: 0;left: calc(50% - 12px);width: 24px;height: 60px;
            &::before{
              @include transform(rotate(-45deg));
              content: "";position: absolute;top: 4px;left: 4px;width: 14px;height: 14px;border-top: 2px solid $black;border-right: 2px solid $black;
            }
            &::after{
              content: "";position: absolute;top: 2px;left: calc(50% - 1px);width: 2px;height: 28px;background: $black;
            }
          }
          .ver_arrow2{
            @include keyframe(ver_a_mov2){
              100%{
                transform: translateY(-120px);
              }0%{
                transform: translateY(100px);
              }
            };
            @include animation(ver_a_mov2, 2.8s, linear, 0s, infinite, none);
            position: absolute;top: 60px;left: calc(50% - 12px);width: 24px;height: 60px;
            &::before{
              @include transform(rotate(-45deg));
              content: "";position: absolute;top: 4px;left: 4px;width: 14px;height: 14px;border-top: 2px solid $black;border-right: 2px solid $black;
            }
            &::after{
              content: "";position: absolute;top: 2px;left: calc(50% - 1px);width: 2px;height: 28px;background: $black;
            }
          }
        }
        .ft_txt3 a{
          :first-child{width: 160px;}
          .hor_arrow{
            position: absolute;top: 18px;width: 60px;height: 24px;overflow: hidden;
            .armov2{
              @include keyframe(hor_a_mov){
                100%{
                  transform: translateX(0);
                }0%{
                  transform: translateX(-52px);
                }
              };
              @include animation(hor_a_mov, 1s, ease, 0s, infinite, none);
              position: absolute;top: 0;left: 0;width: 100%;height: 100%;
              &::before{
                @include transform(rotate(45deg));
                content: "";position: absolute;top: 6px;right: 4px;width: 10px;height: 10px;border-top: 2px solid $black;border-right: 2px solid $black;
              }
              &::after{
                content: "";position: absolute;top: 11px;right: 3px;width: 40px;height: 2px;background: $black;
              }
            }
          }
        }
        .ft_txt2.active, .ft_txt3.active{
          @include keyframe(btn_push){
            100%{
              transform: translateY(0);
            }50%{
              transform: translateY(8px);
            }0%{
              transform: translateY(0);
            }
          };
          @include animation(btn_push, 0.2s, ease, 0s, 1, backwards);
        }
      }
    }
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .img_ac1{background-image: url('../images/kumkang/capture1_m2x.jpg');}
  .img_ac2{background-image: url('../images/kumkang/capture2_m2x.jpg');}
  .img_ac3{background-image: url('../images/kumkang/capture3_m2x.jpg');}
}

@media screen and (-webkit-min-device-pixel-ratio: 3), screen and (min-resolution: 288dpi), screen and (min-resolution: 3dppx) {
  .img_ac1{background-image: url('../images/kumkang/capture1_m3x.jpg');}
  .img_ac2{background-image: url('../images/kumkang/capture2_m3x.jpg');}
  .img_ac3{background-image: url('../images/kumkang/capture3_m3x.jpg');}
}