@charset "utf-8";
@import "_mixin", "_var", "_function";

@font-face {
  font-family: jalnan;
  font-weight: 400;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
}

//body
body{background: #ffb739;}

//#pcHeader
#pcHeader{
  .logo{
    a img:first-child{opacity: 0;}
    a img:last-child{opacity: 1;}
  }
  .menu{
    .line{background: $black;}
    &.active .line{background: $black;}
  }

  #gnb{
    > ul > li > a, > ul > li > button{color: #d55a00;}
    > ul > li > a::before, > ul > li > button::before{background: $black;}
    > ul > li:hover > a,  > ul > li > a:focus, > ul > li:hover > a::before, > ul > li > a:focus::before, > ul > li:hover > button,  > ul > li > button:focus, > ul > li:hover > button::before, > ul > li > button:focus::before{color: $black;}

    ul li ul li a{color: #d55a00;font-weight: 500;}
    ul li ul li a::before{background: $black;}
    ul li ul li:hover a, ul li ul li a:focus, ul li ul li:hover a::before, ul li ul li a:focus::before{color: $black;}
  }
}

//animation_bg_image
.fixed_bg{
  .bg_full{
    position: relative;width: 100%;height: 100vh;
    div{position: absolute;background: no-repeat center;}
    .mov_hi{
      @include bgsize(contain);
      @include keyframe(mov_hi){
        100%{
          transform: rotate(45deg) translateX(-48%) translateY(10%);
        }80%{
          transform: rotate(45deg) translateX(0) translateY(0);
        }20%{
          transform: rotate(45deg) translateX(0) translateY(0);
        }0%{
          transform: rotate(45deg) translateX(-48%) translateY(10%);
        }
      };
      @include animation(mov_hi, 4s, ease, 0s, infinite, backwards);
      top: 0;left: -20%;width: 40%;height: 40%;background-image: url('../images/popeyes/bgi_hi.gif');
    }
    .cloud1{
      @include keyframe(mov_c1){
        100%{
          transform: translateX(-150vw)
        }70%{
          transform: translateX(-150vw)
        }0%{
          transform: translateX(0)
        }
      };
      @include animation(mov_c1, 60s, linear, 0s, infinite, forwards);
      top: 40%;left: 100%;width: 20%;height: 20%;background-image: url('../images/popeyes/cloud1_light.svg');
      &::before{content: "";position: absolute;top: -50%;left: 200%;width: 50%;height: 50%;background: url('../images/popeyes/cloud1_light.svg')no-repeat center;}
    }
    .mov_lying{
      @include keyframe(mov_thick){
        100%{
          transform: translateY(-6%);
        }50%{
          transform: translateY(6%);
        }0%{
          transform: translateY(-6%);
        }
      };
      @include keyframe(mov_lying){
        100%{
          transform: translateY(4%)
        }50%{
          transform: translateY(-4%)
        }0%{
          transform: translateY(4%)
        }
      };
      @include animation(mov_lying, 1s, ease-in-out, 0s, infinite, backwards);
      top: 10%;right: 2%;width: 14%;height: 14%;background-image: url('../images/popeyes/bgi_lying.svg');
      &::before{
        @include animation(mov_lying, 1s, ease-in-out, 0.5s, infinite, backwards);
        content: "";position: absolute;top: 60%;left: 5%;width: 50%;height: 50%;background: url('../images/popeyes/cloud1_light.svg')no-repeat center;
      }
      &::after{
        @include animation(mov_thick, 1s, ease, 0s, infinite, backwards);
        content: "";position: absolute;top: -30%;left: -48%;width: 60%;height: 60%;background: url('../images/popeyes/bgi_thick.svg')no-repeat center;
      }
    }
    .mov_delivery{
      @include keyframe(mov_deli){
        100%{
          transform: translateX(-74%) scale(1);
        }50%{
          transform: translateX(-74%) scale(1,1, 0.9);
        }0%{
          transform: translateX(320%) scale(1);
        }
      };
      @include animation(mov_deli, 6s, linear, 0s, infinite, forwards);
      top: 68%;left: 0;width: 30%;height: 30%;background-image: url('../images/popeyes/bgi_delivery.svg');
    }
  }
}

//#mainTit
#mainTit .fixed_tit{
  color: $black;
  .period .apart::before{background: $black;}
  .btn_link{
    a{border-color: $black;color: $black;}
    a:hover, a:focus{background: $black;border-color: $black;color: $white;}
  }
}

//#mobMain
#movMain{
  color: $black;
  #cnt1{
    width: 100%;

    //공통스타일
    .tit{
      display: block;font-size: 20px;line-height: 24px;margin-bottom: 24px;
    }
    .tit + p{
      font-family: $korFont;font-size: 14px;line-height: 24px;color: #333;
      span{display: block;}
    }
    .device{
      @include border-radius(10px);
      position: relative;display: inline-block;width: 628px;height: 358px;background: #fff;
      ::before{
        @include backdrop-filter(blur(10px));
        @include box-shadow(10px 40px 60px 0 rgba(255, 133, 46, .5));
        @include border-radius(20px);
        content: "";position: absolute;top: calc(50% - 195px);left: calc(50% - 330px);width: 660px;height: 430px;background: rgba(255, 255, 255, .1);z-index: -1;
      }
      ::after{
        @include box-shadow(inset 0 0 20px rgba(245, 102, 0, .4));
        @include border-radius(20px);
        content: "";position: absolute;top: calc(50% - 195px);left: calc(50% - 330px);width: 660px;height: 430px;z-index: -1;
      }
    }

    //본문 스타일
    .pc_view1{
      ul{
        width: 100%;height: 390px;
        li{float: left;}
      }

      .info_txt{
        font-family: $korFont;
        margin-top: 46px;margin-right: 48px;
        .work_data{font-size: 14px;line-height: 24px;margin-top: 60px;}
      }
      .pc_main{
        position: relative;
        .info_txt{
          position: absolute;bottom: -32px;left: calc(50% - 123px);font-size: 12px;color: #d55a00;&::before, &::after{display: none;}
        }
        .dev_link{
          @include border-radius(10px);
          position: absolute;top: 0;left: 0;display: inline-block;width: 100%;height: 100%;
          span{display: inline-block;}
          .mov_img{
            @include border-radius(10px);
            width: 100%;height: 100%;overflow: hidden;
            .devi1{width: 628px;height: 809px;background: url('../images/popeyes/pc_main_1x.jpg')no-repeat center;}
            .devi1.on{
              @include keyframe(movpc1){
                100%{
                  transform: translateY(0)
                }70%{
                  transform: translateY(-450px)
                }50%{
                  transform: translateY(-450px)
                }30%{
                  transform: translateY(0)
                }0%{
                  transform: translateY(0)
                }
              };
              @include animation(movpc1, 4s, ease, 0s, infinite, backwards);
              background-image: url('../images/popeyes/pc_main_1x.jpg');
              &::after, &::before{display: none;}
            }
          }
        }
        .dev_link:hover, .dev_link:focus{
          @include box-shadow(0px 0px 0px 4px $black);
        }
      }
    }

    .inspire{
      margin-top: 160px;width: 100%;height: 240px;
      ul {
        width: 100%;height: 100%;
        li{
          height: 100%;float: left;
          ul{
            display: inline-block;width: 620px;height: 100%;margin-right: 40px;
            > li{
              @include border-radius(110px);
              float: left;width: 240px;height: 100%;border: 1px solid #d55a00;text-align: center;color: #d55a00;font-weight: 700;padding-top: 114px;
              + li{margin-left: -52px;}
            }
          }
        }
        .connect_info{
          p span{display: block;}
        }
      }
      .connect_info{
        display: inline-block;width: 220px;height: 100%;padding-top: 40px;
        p{font-size: 14px;line-height: 24px;}
        .tit + p{margin-bottom: 8px;}
      }
    }

    .tyop_info{
      margin-top: 160px;
      .typo_data{
        font-family: $korFont;width: 100%;height: 124px;color: $black;
        .tit{display: inline-block;font-size: 14px;line-height: 20px;font-weight: 400;width: 120px;height: 50px;padding-top: 4px;}
        div{display: flex;margin-top: 40px;}
        div + div{margin-top: 40px;}
        .main{
          width: 100%;height: 50px;
          ul{
            width: 770px;height: 100%;
            li{float: left;width: 220px;height: 100%;font-size: 40px;padding-top: 4px;}
            .bold{font-weight: 700;}
            .middle{font-weight: 500;}
          }
        }
        .hihgl .hl_font{font-family: jalnan;font-size: 36px;padding-top: 16px;color: $black;}
      }
    }
    
    .color_info{
      margin-top: 160px;
      .color_area{
        width: 100%;height: 226px;font-size: 14px;font-family: $korFont;
        //flex
        .vari{
          width: 100%;
          ul{display: flex;width: 100%;}
          ul li{
            @include border-radius(20px);
            position: relative;display: flex;justify-content: center;align-items: center;height: 172px;width: 172px;margin-bottom: 5px;
            + li{margin-left: 5px;}
          }
          ul li p{position: absolute;bottom: 16px;left: 20px;width: 108px;height: 32px;color: #fff;font-size: 12px;line-height: 16px;}
          .colr1{background: #FD7907;}
          .colr2{background: #BE5A07;}
          .colr3{background: #950988;}
          .colr4{background: #C20031;}
          .colr5{background: #000000;}
        }
        .grey{
          width: 100%;height: 50px;
          ul{display: flex;width: 100%;}
          ul li{
            @include border-radius(20px);
            position: relative;display: flex;justify-content: center;align-items: center;width: 172px;height: 50px;
            + li{margin-left: 5px;}
          }
          ul li p{position: absolute;top: 0;left: 0;font-size: 12px;line-height: 16px;width: 220px;height: 50px;color: #fff;padding-top: 8px;padding-left: 20px;}
          .colr6{background: #434343;}
          .colr7{background: #666666;}
          .colr8{background: #B7B7B7;}
          .colr9{background: #D9D9D9;}
          .colr10{background: #F3F3F3;}
          .colr8 p, .colr9 p, .colr10 p{color: $greyDark;}
        }
      }
    }

    .pc_view2{
      margin-top: 160px;width: 100%;height: 900px;
      ul{
        width: 100%;
        li{
          float: left;
          .txt_info{padding-top: 40px;}
          ul .device{
            ::before{height: 390px;}
            ::after{height: 390px;}
          }
        }
        .subp2{margin-top: 160px;}
        .txt_info{
          width: 220px;margin-right: 20px;
          a{
            position: relative;display: inline-block;margin-top: 24px;font-weight: 700;
          }
          a::before{
            @include transition(width 0.3s);
            content: "";position: absolute;bottom: -6px;left: 0;width: 0;height: 2px;background: $black;
          }
          a:hover::before, a:focus::before{width: 140%;}
        }
      }

      ul .sub ul .device .mov_img{
        @include border-radius(10px);
        width: 100%;height: 100%;overflow: hidden;
        .devi2{
          @include keyframe(movpc2){
            100%{
              transform: translateY(0)
            }70%{
              transform: translateY(-918px)
            }50%{
              transform: translateY(-918px)
            }30%{
              transform: translateY(0)
            }0%{
              transform: translateY(0)
            }
          };
          @include animation(movpc2, 8s, ease, 0s, infinite, backwards);
          width: 628px;height: 1277px;background: url('../images/popeyes/pc_sub1_1x.jpg')no-repeat top;
          &::after, &::before{display: none;}
        }
        .devi3{
          @include keyframe(movpc3){
            100%{
              transform: translateY(0)
            }70%{
              transform: translateY(-376px)
            }50%{
              transform: translateY(-376px)
            }30%{
              transform: translateY(0)
            }0%{
              transform: translateY(0)
            }
          };
          @include animation(movpc3, 4s, ease, 0s, infinite, backwards);
          width: 628px;height: 734px;background: url('../images/popeyes/pc_sub2_1x.jpg')no-repeat top;
          &::after, &::before{display: none;}
        }
      }
    }

  }

  #cnt2{
    margin-top: 160px;width: 100%;height: 1240px;
    .tit_txt{
      margin-bottom: 80px;
      h3, p{display: inline-block}
      h3{
        font-size: 20px;line-height: 24px;
        span{display: block;}
      }
      p{
        font-size: 14px;line-height: 24px;margin-left: 40px;color: $black;
        span{display: block;}
      }
    }

    ul{
      width: 100%;
      li{height: 320px;}
      .list{
        font-size: 14px;line-height: 24px;color: $black;
        ul > li{
          width: 290px;float: right;
          strong{
            font-weight: 400;display: block;margin-top: 40px;
            span{display: block;font-size: 20px;margin-bottom: 8px;}
          }
          .sub_txt{margin-top: 60px;}
          .sub_txt + p{font-family: $korFont;color: $black;margin-top: 12px;}
        }

        .capture{
          width: 550px;height: 320px;background: no-repeat center;margin-right: 40px;margin-bottom: 80px;
          div{
            @include border-radius(20px);
            width: 100%;height: 100%;border: 1px solid $white;
          }
          .img_ac1{background-image: url('../images/popeyes/ac_img1.jpg');}
          .img_ac2{background-image: url('../images/popeyes/ac_img2.jpg');}
          .img_ac3{background-image: url('../images/popeyes/ac_img3.jpg');}
        }
      }
      .ac1{margin-top: 80px;}
      .ac2{
        ul li{float: left;}
        .capture{margin-right: 0;margin-left: 40px;}
      }
    }
  }

  #footer{
    width: 100%;height: 240px;margin-top: 80px;
    .btn_area{
      width: 100%;color: $black;padding-top: 60px;
      ul li{
        float: left;height: 100px;width: 220px;
        + li{margin-left: 40px;}
        > p, a{font-weight: 700;}
      }
      .ft_txt1 p{line-height: 20px;}
      .ft_txt2 p, .ft_txt3 p{
        @include transition(all 0.5s);
        font-size: 12px;margin-top: 20px;font-weight: 400;line-height: 20px;opacity: 0;
      }

      .ft_txt2 a, .ft_txt3 a{display: inline-block;line-height: 20px;position: relative;}
      .ft_txt2 a::before, .ft_txt3 a::before{
        @include transition(width 0.3s);
        content: "";position: absolute;bottom: -6px;left: 0;width: 0;height: 2px;background: $black;
      }

      .ft_txt2.on a:hover + p, .ft_txt2.on a:focus + p, .ft_txt3.on a:hover + p, .ft_txt3.on a:focus + p{opacity: 1;}
      .ft_txt2.on a:hover::before, .ft_txt2.on a:focus::before, .ft_txt3.on a:hover::before, .ft_txt3.on a:focus::before{width: 100%;}
    }
  }
}

@media screen and (max-width: 360px){
  #mHeader{
    .logo{
      @include transition(all 0.5s);
      a img:first-child{opacity: 0;}
      a img:last-child{opacity: 1;}
    }
    .logo.color{
      a img:first-child{opacity: 1;}
      a img:last-child{opacity: 0;}
    }
    .menu{
      .line{background: $black;}
    }
  }

  .fixed_bg{
    width: 100%;height: 100vh;
    .bg_full{
      @include bgsize(cover);
      background-position: 75% 50%;
      .mov_hi{
        @include box-sizing;
        width: 100%;height: 100%;left: -55%;top: -25%;
      }
      .cloud1{
        @include keyframe(mov_c1_m){
          100%{
            transform: translateX(-380%);
          }70%{
            transform: translateX(-380%);
          }0%{
            transform: translateX(0);
          }
        };
        @include animation(mov_c1_m, 30s, linear, 0s, infinite, forwards);
        @include box-sizing;
        width: 50%;height: 50%;top: 40%;
        &::before{
          top: 50%;left: 120%;width: 50%;height: 50%;
        }
      }
      .mov_lying{
        @include box-sizing;
        width: 40%;height: 40%;
        &::before{top: 38%;}
        &::after{width: 40%;height: 40%;left: -40%;top: 8%;}
      }
      .mov_delivery{
        @include keyframe(mov_deli_m){
          100%{
            transform: translateX(-100%) scale(1);
          }50%{
            transform: translateX(-100%) scale(1,1, 0.9);
          }0%{
            transform: translateX(320%) scale(1);
          }
        };
        @include animation(mov_deli_m, 6s, linear, 0s, infinite, forwards);
      }
    }
  }

  #movMain{
    #cnt1{
      width: 320px;margin: 620px 20px 0;

      //모바일 공통스타일
      .tit{line-height: 28px;margin-bottom: 16px;}
      .tit + p{line-height: 26px;}
      .device{
        width: 480px;height: 280px;
        ::before{width: 500px;height: 300px;left: -10px;top: -10px;}
        ::after{width: 500px;height: 300px;left: -10px;top: -10px;}
      }

      //모바일 본문 스타일
      .pc_view1{
        ul{
          height: auto;
          li{float: none;display: block;}
        }
        .info_txt{
          width: 100%;
          .tit + p{
            span{display: inline;}
          }
          .work_data{margin-top: 20px;margin-bottom: 80px;}
        }
        .pc_main{
          margin-left: 20px;
          .info_txt{display: none;}
          .dev_link{
            .mov_img{
              .devi1{
                @include keyframe(movpc1_m){
                  100%{
                    transform: translateY(0)
                  }70%{
                    transform: translateY(-528px)
                  }50%{
                    transform: translateY(-528px)
                  }30%{
                    transform: translateY(0)
                  }0%{
                    transform: translateY(0)
                  }
                };
                @include animation(movpc1_m, 4s, ease, 0s, infinite, backwards);
                width: 480px;height: 810px;background: url('../images/popeyes/mobile_main_1x.jpg')no-repeat top;
                &::after, &::before{display: none;}
              }
            }
          }
          .dev_link:hover, .dev_link:focus{@include box-shadow(none);}
        }
      }

      .inspire{
        height: 112px;margin-top: 140px;
        ul{
          li{
            float: none;
            ul{
              width: 100%;margin-right: 0;
              > li{
                @include border-radius(48px);
                width: 112px;padding-top: 50px;font-size: 12px;
              }
              > li + li{margin-left: -8px;}
            }
          }
          .connect_info{
            width: 100%;height: 200px;
            p{line-height: 26px;}
            p span{display: inline;}
          }
        }
      }
      
      .tyop_info{
        margin-top: 280px;
        .typo_data{
          height: 280px;
          .tit{
            line-height: 24px;padding-top: 0;width: 140px;
          }
          div + div{margin-top: 0;}
          .main{
            height: 52px;margin-bottom: 120px;
            ul{
              width: 100%;
              li{width: 180px;margin-left: 64px;}
            }
          }
          .hihgl .hl_font{font-size: 35px;}
        }
      }
      .color_info{
        margin-top: 80px;margin-bottom: 40px;height: 440px;
        .color_area{
          display: flex;height: auto;
          li ul{flex-direction: column;flex-wrap: wrap;}
          .vari{
            height: 360px;width: 63%;
            ul{
              li{
                width: 200px;height: 68px;
                + li{margin-left: 0;}
              }
            }
          }
          .grey{
            height: auto;width: 37%;margin-bottom: 280px;
            ul{
              li{
                width: 115px;height: 68px;margin-left: 5px;
                + li{margin-top: 5px;}
                p{padding-top: 18px;}
              }
            }
          }
        }
      }
      .pc_view2{
        margin-top: 80px;height: 1280px;
        ul li{
          float: none;width: 320px;
          p span{display: inline;}
          .txt_info{width: 100%;}
          ul{
            .device{
              margin-top: 80px;width: 480px;
            ::before{height: 300px;}
            ::after{height: 300px;}
            }
            .dev_l{
              margin-left: -180px;
            }
            .dev_r{margin-left: 20px;}
          }
        }
        ul .subp2{margin-top: 80px;}
        ul .sub ul .device .mov_img{
          .devi2{
            @include keyframe(movpc2_m){
              100%{
                transform: translateY(0)
              }70%{
                transform: translateY(-560px)
              }50%{
                transform: translateY(-560px)
              }30%{
                transform: translateY(0)
              }0%{
                transform: translateY(0)
              }
            };
            @include animation(movpc2_m, 8s, ease, 0s, infinite, backwards);
            width: 480px;height: 1148px;background-image: url('../images/popeyes/mobile_sub1_1x.jpg');
          }
          .devi3{
            @include keyframe(movpc3_m){
              100%{
                transform: translateY(0)
              }70%{
                transform: translateY(-380px)
              }50%{
                transform: translateY(-380px)
              }30%{
                transform: translateY(0)
              }0%{
                transform: translateY(0)
              }
            };
            @include animation(movpc3_m, 4s, ease, 0s, infinite, backwards);
            width: 480px;height: 661px;background-image: url('../images/popeyes/mobile_sub2_1x.jpg');
          }
        }
      }
    }

    #cnt2{
      width: 320px;margin: 80px 20px 0;
      .tit_txt{
        height: 160px;
        h3{font-weight: 700;margin-right: 0;}
        p{
          margin-left: 0;margin-top: 28px;width: 320px;line-height: 24px;
          span{display: inline;}
        }
      }

      ul{
        width: 320px;
        li{height: 320px;margin-top: 0;margin-bottom: 0;margin-left: 20px;}
        .list{
          font-size: 20px;font-weight: 700;line-height: 24px;margin: 0 auto;
          ul > li{
            width: 100%;margin-left: 20px;float: none;display: block;
            strong{
              font-weight: 700;
              span{margin-bottom: 4px;font-weight: 400;}
            }
            strong, p{margin-left: -20px;}
            .sub_txt{margin-top: 40px;line-height: 26px;}
            .sub_txt + p{font-size: 14px;font-weight: 400;}
          }
          .capture{
            margin: -340px auto 100px;width: 360px;
            div{
              @include border-radius(0);
              border: none;margin-left: -20px;
            }
            
            .img_ac1{background: none;}
            .img_ac2{background: none;}
            .img_ac3{background: none;}
          }
          
        }
      }
    }

    #footer{
      width: 360px;margin: 0 auto 60px;
      .label{
        top: 7280px;
        .mov_label{
          width: 1320px;height: 100%;
        }
        .lb2{left: 372%;}
      }
      .btn_area{
        width: 320px;padding-top: 100px;height: 320px;margin: 0 auto;
        ul :first-child{width: 100%;}
        ul li{
          height: 60px;
          > p {font-size: 16px;}
          + li{
            @include border-radius(24px);
            margin-left: 0;width: 60px;margin-top: 20px;background: $black;
            + li{
              width: 240px;margin-left: 20px;
              a span{
                position: relative;display: inline-block;font-size: 14px;padding-top: 20px;padding-left: 20px;color: $black;
              }
            }
          }
          > a{display: inline-block;height: 100%;width: 100%;}
          > a span{font-size: 0;}
          > a + p{display: none;}
        }
        .ft_txt2 a::before, .ft_txt3 a::before{display: none;}
        .ft_txt2 a{
          @include border-radius(24px);
          overflow: hidden;
          .ver_arrow1{
            @include keyframe(ver_a_mov1){
              100%{
                transform: translateY(-160px);
              }0%{
                transform: translateY(60px);
              }
            };
            @include animation(ver_a_mov1, 2.8s, linear, 0s, infinite, none);
            position: absolute;top: 0;left: calc(50% - 12px);width: 24px;height: 60px;
            &::before{
              @include transform(rotate(-45deg));
              content: "";position: absolute;top: 4px;left: 4px;width: 14px;height: 14px;border-top: 2px solid $white;border-right: 2px solid $white;
            }
            &::after{
              content: "";position: absolute;top: 2px;left: calc(50% - 1px);width: 2px;height: 28px;background: $white;
            }
          }
          .ver_arrow2{
            @include keyframe(ver_a_mov2){
              100%{
                transform: translateY(-120px);
              }0%{
                transform: translateY(100px);
              }
            };
            @include animation(ver_a_mov2, 2.8s, linear, 0s, infinite, none);
            position: absolute;top: 60px;left: calc(50% - 12px);width: 24px;height: 60px;
            &::before{
              @include transform(rotate(-45deg));
              content: "";position: absolute;top: 4px;left: 4px;width: 14px;height: 14px;border-top: 2px solid $white;border-right: 2px solid $white;
            }
            &::after{
              content: "";position: absolute;top: 2px;left: calc(50% - 1px);width: 2px;height: 28px;background: $white;
            }
          }
        }
        .ft_txt3 a{
          :first-child{width: 220px;color: $white;font-size: 12px;}
          .hor_arrow{
            position: absolute;top: 18px;right: 18px;width: 48px;height: 24px;overflow: hidden;
            .armov2{
              @include keyframe(hor_a_mov){
                100%{
                  transform: translateX(0);
                }0%{
                  transform: translateX(-52px);
                }
              };
              @include animation(hor_a_mov, 1s, ease, 0s, infinite, none);
              position: absolute;top: 0;left: 0;width: 100%;height: 100%;
              &::before{
                @include transform(rotate(45deg));
                content: "";position: absolute;top: 6px;right: 4px;width: 10px;height: 10px;border-top: 2px solid $white;border-right: 2px solid $white;
              }
              &::after{
                content: "";position: absolute;top: 11px;right: 3px;width: 40px;height: 2px;background: $white;
              }
            }
          }
        }
        .ft_txt2.active, .ft_txt3.active{
          @include keyframe(btn_push){
            100%{
              transform: translateY(0);
            }50%{
              transform: translateY(8px);
            }0%{
              transform: translateY(0);
            }
          };
          @include animation(btn_push, 0.2s, ease, 0s, 1, backwards);
        }
      }
    }
  }
}