@font-face {
  font-family: RIDI;
  font-weight: 400;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff") format("woff"); }
body {
  background: #fff; }

#pcHeader .logo a img:first-child {
  opacity: 0; }
#pcHeader .logo a img:last-child {
  opacity: 1; }
#pcHeader .menu .line {
  background: #333333; }
#pcHeader .menu.active .line {
  background: #333333; }
#pcHeader #gnb > ul > li > a {
  color: #999999; }
#pcHeader #gnb > ul > li > a::before {
  background: #333333; }
#pcHeader #gnb > ul > li:hover > a, #pcHeader #gnb > ul > li > a:focus, #pcHeader #gnb > ul > li:hover > a::before, #pcHeader #gnb > ul > li > a:focus::before {
  color: #333333; }
#pcHeader #gnb ul li ul li a {
  color: #999999;
  font-weight: 500; }
#pcHeader #gnb ul li ul li a::before {
  background: #333333; }
#pcHeader #gnb ul li ul li:hover a, #pcHeader #gnb ul li ul li a:focus, #pcHeader #gnb ul li ul li:hover a::before, #pcHeader #gnb ul li ul li a:focus::before {
  color: #333333; }

.fixed_bg {
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 1;
  height: 646px; }
  .fixed_bg .bg_full {
    background: url("../images/theSoop/bg_full_top.jpg") no-repeat bottom; }
  .fixed_bg.on {
    opacity: 0; }

#mainTit .fixed_tit {
  color: #333333; }
  #mainTit .fixed_tit .period .apart::before {
    background: #333333; }
  #mainTit .fixed_tit .btn_link a {
    border-color: #333333;
    color: #333333; }
  #mainTit .fixed_tit .btn_link a:hover, #mainTit .fixed_tit .btn_link a:focus {
    background: #333333;
    border-color: #333333;
    color: #e5e5e5; }

#movMain {
  color: #333333; }
  #movMain #cnt1 {
    width: 100%; }
    #movMain #cnt1 .tit {
      display: block;
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 24px; }
      #movMain #cnt1 .tit + p {
        font-size: 14px;
        line-height: 20px;
        color: #595959; }
    #movMain #cnt1 .device {
      -webkit-box-shadow: 10px 60px 60px 0 rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 10px 60px 60px 0 rgba(0, 0, 0, 0.4);
      box-shadow: 10px 60px 60px 0 rgba(0, 0, 0, 0.4);
      -webkit-border-radius: 40px;
      -moz-border-radius: 40px;
      border-radius: 40px;
      width: 290px;
      height: 520px;
      /* background: $greyLight; */
      border: 8px solid #333333; }
    #movMain #cnt1 .m_view {
      position: relative;
      width: 100%;
      height: 520px; }
      #movMain #cnt1 .m_view .info_txt {
        padding-top: 48px;
        /* padding-left: 110px; */ }
        #movMain #cnt1 .m_view .info_txt strong {
          font-size: 18px;
          line-height: 24px; }
        #movMain #cnt1 .m_view .info_txt p {
          margin-top: 16px;
          font-size: 14px;
          line-height: 20px;
          color: #595959; }
        #movMain #cnt1 .m_view .info_txt .work_data span {
          display: inline-block;
          font-size: 14px;
          margin-left: 8px;
          line-height: 20px; }
      #movMain #cnt1 .m_view .m_main {
        position: absolute;
        top: -20px;
        right: 150px;
        overflow: hidden;
        /* .devi1{width: 100%;height: 100%;background: url('../images/theSoop/mview_index_1x.jpg')no-repeat top;} */ }
        #movMain #cnt1 .m_view .m_main .devi1 {
          -webkit-animation-name: movM1;
          -webkit-animation-duration: 20s;
          -webkit-animation-timing-function: ease;
          -webkit-animation-delay: 1s;
          -webkit-animation-iteration-count: infinite;
          -webkit-animation-fill-mode: backwards;
          -moz-animation-name: movM1;
          -moz-animation-duration: 20s;
          -moz-animation-timing-function: ease;
          -moz-animation-delay: 1s;
          -moz-animation-iteration-count: infinite;
          -moz-animation-fill-mode: backwards;
          -o-animation-name: movM1;
          -o-animation-duration: 20s;
          -o-animation-timing-function: ease;
          -o-animation-delay: 1s;
          -o-animation-iteration-count: infinite;
          -o-animation-fill-mode: backwards;
          animation-name: movM1;
          animation-duration: 20s;
          animation-timing-function: ease;
          animation-delay: 1s;
          animation-iteration-count: infinite;
          animation-fill-mode: backwards;
          width: 100%;
          height: 2819px;
          background: url("../images/theSoop/mview_index_1x.jpg") no-repeat top;
          cursor: pointer; }
@keyframes movM1 {
  100% {
    transform: translateY(0); }
  90% {
    transform: translateY(0); }
  60% {
    transform: translateY(-2300px); }
  50% {
    transform: translateY(-2300px); }
  10% {
    transform: translateY(0); }
  0% {
    transform: translateY(0); } }
        #movMain #cnt1 .m_view .m_main .devi1.on {
          animation-play-state: paused; }
        #movMain #cnt1 .m_view .m_main a {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: -1; }
      #movMain #cnt1 .m_view .m_main.on {
        -webkit-box-shadow: 0px 0px 0px 4px #B90700;
        -moz-box-shadow: 0px 0px 0px 4px #B90700;
        box-shadow: 0px 0px 0px 4px #B90700; }
    #movMain #cnt1 .inspire {
      position: relative;
      width: 100%;
      height: 180px;
      margin-top: 140px; }
      #movMain #cnt1 .inspire > ul {
        width: 100%; }
        #movMain #cnt1 .inspire > ul li {
          float: left; }
        #movMain #cnt1 .inspire > ul .shape_txt {
          width: 510px; }
          #movMain #cnt1 .inspire > ul .shape_txt ul li {
            -webkit-border-radius: 80px 80px 80px 0;
            -moz-border-radius: 80px 80px 80px 0;
            border-radius: 80px 80px 80px 0;
            width: 180px;
            height: 180px;
            text-align: center;
            border: 1px solid #999999;
            padding-top: 84px; }
          #movMain #cnt1 .inspire > ul .shape_txt ul li + li {
            margin-left: -15px; }
        #movMain #cnt1 .inspire > ul .txt {
          width: 330px;
          height: 100%;
          margin-left: 40px; }
          #movMain #cnt1 .inspire > ul .txt p {
            font-size: 14px;
            line-height: 20px;
            padding-top: 78px; }
      #movMain #cnt1 .inspire .soopie1 {
        -webkit-animation-name: mov3d1;
        -webkit-animation-duration: 0.5s;
        -webkit-animation-timing-function: linear;
        -webkit-animation-delay: 0s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-fill-mode: backwards;
        -moz-animation-name: mov3d1;
        -moz-animation-duration: 0.5s;
        -moz-animation-timing-function: linear;
        -moz-animation-delay: 0s;
        -moz-animation-iteration-count: infinite;
        -moz-animation-fill-mode: backwards;
        -o-animation-name: mov3d1;
        -o-animation-duration: 0.5s;
        -o-animation-timing-function: linear;
        -o-animation-delay: 0s;
        -o-animation-iteration-count: infinite;
        -o-animation-fill-mode: backwards;
        animation-name: mov3d1;
        animation-duration: 0.5s;
        animation-timing-function: linear;
        animation-delay: 0s;
        animation-iteration-count: infinite;
        animation-fill-mode: backwards;
        position: absolute;
        top: -252px;
        left: 0;
        width: 180px;
        height: 263px;
        background: url("../images/theSoop/3d_soopie1.png") no-repeat center;
        cursor: pointer; }
@keyframes mov3d1 {
  100% {
    transform: scale(1) translateY(0); }
  50% {
    transform: scale(1.04, 0.96) translateY(6px); }
  0% {
    transform: scale(1) translateY(0); } }
      #movMain #cnt1 .inspire .cha_talk {
        opacity: 0; }
      #movMain #cnt1 .inspire .cha_talk.on {
        -webkit-animation-name: talkup;
        -webkit-animation-duration: 1s;
        -webkit-animation-timing-function: ease-in-out;
        -webkit-animation-delay: 0s;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-fill-mode: backwards;
        -moz-animation-name: talkup;
        -moz-animation-duration: 1s;
        -moz-animation-timing-function: ease-in-out;
        -moz-animation-delay: 0s;
        -moz-animation-iteration-count: 1;
        -moz-animation-fill-mode: backwards;
        -o-animation-name: talkup;
        -o-animation-duration: 1s;
        -o-animation-timing-function: ease-in-out;
        -o-animation-delay: 0s;
        -o-animation-iteration-count: 1;
        -o-animation-fill-mode: backwards;
        animation-name: talkup;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        animation-delay: 0s;
        animation-iteration-count: 1;
        animation-fill-mode: backwards;
        -webkit-box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.3);
        box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.3);
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        position: absolute;
        top: -360px;
        left: 160px;
        width: 172px;
        height: 200px;
        padding: 24px 28px;
        background: #333333;
        opacity: 1; }
@keyframes talkup {
  100% {
    transform: translateY(0);
    opacity: 1; }
  0% {
    transform: translateY(40px);
    opacity: 0; } }
        #movMain #cnt1 .inspire .cha_talk.on p {
          font-size: 14px;
          line-height: 24px;
          color: #e5e5e5; }
        #movMain #cnt1 .inspire .cha_talk.on::before {
          -webkit-transform: translateX(-50%);
          -moz-transform: translateX(-50%);
          -o-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          transform: translateX(-50%);
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          bottom: -40px;
          left: calc(50% - 28px);
          border-top: 40px solid #333333;
          border-left: 0 solid transparent;
          border-right: 48px solid transparent; }
    #movMain #cnt1 .symbol_info .bg_img {
      -webkit-background-size: cover !important;
      -moz-background-size: cover !important;
      background-size: cover !important;
      position: absolute;
      top: 1080px;
      left: 0;
      width: 100%;
      height: 640px;
      background: url("../images/theSoop/bg_full_mid1.jpg") no-repeat center;
      z-index: -1; }
    #movMain #cnt1 .symbol_info .logom_info {
      width: 100%;
      height: 520px;
      margin-top: 280px; }
      #movMain #cnt1 .symbol_info .logom_info li {
        float: left; }
      #movMain #cnt1 .symbol_info .logom_info .logom_view {
        -webkit-border-radius: 48px;
        -moz-border-radius: 48px;
        border-radius: 48px;
        width: 290px;
        height: 100%;
        background: #e6e6e6;
        border: 8px solid #333333; }
        #movMain #cnt1 .symbol_info .logom_info .logom_view .d2 {
          -webkit-transition: all 0.5s;
          -moz-transition: all 0.5s;
          -o-transition: all 0.5s;
          transition: all 0.5s;
          position: relative;
          width: 100%;
          height: 504px;
          background: url("../images/theSoop/mview_logo1.jpg") no-repeat center;
          overflow: hidden;
          border: none;
          opacity: 0; }
        #movMain #cnt1 .symbol_info .logom_info .logom_view .d2::before {
          content: "";
          position: absolute;
          background: url("../images/theSoop/3d_soopie2.png") no-repeat center;
          width: 290px;
          height: 427px;
          bottom: -180px;
          left: calc(50% - 145px); }
        #movMain #cnt1 .symbol_info .logom_info .logom_view .d2.on {
          -webkit-animation-name: opa_logo;
          -webkit-animation-duration: 1s;
          -webkit-animation-timing-function: ease-in;
          -webkit-animation-delay: 0s;
          -webkit-animation-iteration-count: 1;
          -webkit-animation-fill-mode: backwards;
          -moz-animation-name: opa_logo;
          -moz-animation-duration: 1s;
          -moz-animation-timing-function: ease-in;
          -moz-animation-delay: 0s;
          -moz-animation-iteration-count: 1;
          -moz-animation-fill-mode: backwards;
          -o-animation-name: opa_logo;
          -o-animation-duration: 1s;
          -o-animation-timing-function: ease-in;
          -o-animation-delay: 0s;
          -o-animation-iteration-count: 1;
          -o-animation-fill-mode: backwards;
          animation-name: opa_logo;
          animation-duration: 1s;
          animation-timing-function: ease-in;
          animation-delay: 0s;
          animation-iteration-count: 1;
          animation-fill-mode: backwards;
          opacity: 1; }
@keyframes opa_logo {
  100% {
    opacity: 1; }
  0% {
    opacity: 0; } }
        #movMain #cnt1 .symbol_info .logom_info .logom_view .d2.on::before {
          -webkit-animation-name: cha_up;
          -webkit-animation-duration: 2s;
          -webkit-animation-timing-function: cubic-bezier(1, -0.46, 0, 1.35);
          -webkit-animation-delay: 1s;
          -webkit-animation-iteration-count: 1;
          -webkit-animation-fill-mode: backwards;
          -moz-animation-name: cha_up;
          -moz-animation-duration: 2s;
          -moz-animation-timing-function: cubic-bezier(1, -0.46, 0, 1.35);
          -moz-animation-delay: 1s;
          -moz-animation-iteration-count: 1;
          -moz-animation-fill-mode: backwards;
          -o-animation-name: cha_up;
          -o-animation-duration: 2s;
          -o-animation-timing-function: cubic-bezier(1, -0.46, 0, 1.35);
          -o-animation-delay: 1s;
          -o-animation-iteration-count: 1;
          -o-animation-fill-mode: backwards;
          animation-name: cha_up;
          animation-duration: 2s;
          animation-timing-function: cubic-bezier(1, -0.46, 0, 1.35);
          animation-delay: 1s;
          animation-iteration-count: 1;
          animation-fill-mode: backwards; }
@keyframes cha_up {
  100% {
    transform: translateY(0); }
  0% {
    transform: translateY(280px); } }
      #movMain #cnt1 .symbol_info .logom_info .logom_txt {
        width: 400px;
        height: 120px;
        margin-top: 80px;
        margin-left: 40px; }
    #movMain #cnt1 .color_info {
      margin-top: 160px; }
      #movMain #cnt1 .color_info .color_area {
        width: 100%;
        height: 226px;
        font-size: 14px;
        font-family: NtSansKR; }
        #movMain #cnt1 .color_info .color_area .vari {
          width: 100%;
          height: 176px; }
          #movMain #cnt1 .color_info .color_area .vari ul {
            display: flex;
            width: 100%; }
          #movMain #cnt1 .color_info .color_area .vari ul li {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 176px;
            width: 100%; }
          #movMain #cnt1 .color_info .color_area .vari ul li p {
            position: absolute;
            bottom: 16px;
            left: 20px;
            width: 108px;
            height: 32px;
            color: #e5e5e5;
            font-size: 12px;
            line-height: 16px; }
          #movMain #cnt1 .color_info .color_area .vari .colr1 {
            background: #88B14B; }
          #movMain #cnt1 .color_info .color_area .vari .colr2 {
            background: #51663D; }
          #movMain #cnt1 .color_info .color_area .vari .colr3 {
            background: #B90700; }
          #movMain #cnt1 .color_info .color_area .vari .colr4 {
            background: #6B1866; }
          #movMain #cnt1 .color_info .color_area .vari .colr5 {
            background: #191919; }
        #movMain #cnt1 .color_info .color_area .grey {
          width: 100%;
          height: 50px; }
          #movMain #cnt1 .color_info .color_area .grey ul {
            display: flex;
            width: 100%; }
          #movMain #cnt1 .color_info .color_area .grey ul li {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 50px; }
          #movMain #cnt1 .color_info .color_area .grey ul li p {
            position: absolute;
            top: 0;
            left: 0;
            font-size: 12px;
            line-height: 16px;
            width: 220px;
            height: 50px;
            color: #e5e5e5;
            padding-top: 16px;
            padding-left: 20px; }
          #movMain #cnt1 .color_info .color_area .grey .colr6 {
            background: #595959; }
          #movMain #cnt1 .color_info .color_area .grey .colr7 {
            background: #949494; }
          #movMain #cnt1 .color_info .color_area .grey .colr8 {
            background: #CCCCCC; }
          #movMain #cnt1 .color_info .color_area .grey .colr9 {
            background: #E5E5E5; }
          #movMain #cnt1 .color_info .color_area .grey .colr8 p, #movMain #cnt1 .color_info .color_area .grey .colr9 p {
            color: #595959; }
    #movMain #cnt1 .icon_info {
      margin-top: 160px;
      width: 100%;
      margin-bottom: 160px; }
      #movMain #cnt1 .icon_info .icon_area {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 100%;
        height: 100%;
        margin-top: 20px;
        /* :nth-child(odd){background: skyblue;}
        :nth-child(even){background: orange;} */ }
        #movMain #cnt1 .icon_info .icon_area .icons {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 176px;
          width: 176px; }
        #movMain #cnt1 .icon_info .icon_area .icons::before {
          content: "";
          position: absolute;
          width: 100px;
          height: 100px;
          top: calc(50% - 50px);
          left: calc(50% - 50px);
          background: no-repeat center; }
        #movMain #cnt1 .icon_info .icon_area .icon1::before {
          background-image: url("../images/theSoop/icon_cinema.svg"); }
        #movMain #cnt1 .icon_info .icon_area .icon2::before {
          background-image: url("../images/theSoop/icon_gallery.svg"); }
        #movMain #cnt1 .icon_info .icon_area .icon3::before {
          background-image: url("../images/theSoop/icon_bstore.svg"); }
        #movMain #cnt1 .icon_info .icon_area .icon4::before {
          background-image: url("../images/theSoop/icon_cafe.svg"); }
        #movMain #cnt1 .icon_info .icon_area .icon5::before {
          background-image: url("../images/theSoop/icon_seminar.svg"); }
        #movMain #cnt1 .icon_info .icon_area .icon6::before {
          background-image: url("../images/theSoop/icon_concert.svg"); }
        #movMain #cnt1 .icon_info .icon_area .icon7::before {
          background-image: url("../images/theSoop/icon_qmark.svg"); }
        #movMain #cnt1 .icon_info .icon_area .icon8::before {
          background-image: url("../images/theSoop/icon_location.svg"); }
        #movMain #cnt1 .icon_info .icon_area .icon9::before {
          background-image: url("../images/theSoop/icon_search.svg"); }
        #movMain #cnt1 .icon_info .icon_area .icon10::before {
          background-image: url("../images/theSoop/icon_menu.svg"); }
    #movMain #cnt1 .tyop_info .typo_data {
      font-family: NtSansKR;
      width: 100%;
      height: 124px;
      color: #333333; }
      #movMain #cnt1 .tyop_info .typo_data .tit {
        display: inline-block;
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        width: 120px;
        height: 50px;
        padding-top: 4px; }
      #movMain #cnt1 .tyop_info .typo_data div {
        display: flex;
        margin-top: 40px; }
      #movMain #cnt1 .tyop_info .typo_data div + div {
        margin-top: 40px; }
      #movMain #cnt1 .tyop_info .typo_data .main {
        width: 100%;
        height: 50px; }
        #movMain #cnt1 .tyop_info .typo_data .main ul {
          width: 770px;
          height: 100%; }
          #movMain #cnt1 .tyop_info .typo_data .main ul li {
            float: left;
            width: 220px;
            height: 100%;
            font-size: 40px;
            padding-top: 4px; }
          #movMain #cnt1 .tyop_info .typo_data .main ul .bold {
            font-weight: 700; }
          #movMain #cnt1 .tyop_info .typo_data .main ul .middle {
            font-weight: 500; }
      #movMain #cnt1 .tyop_info .typo_data .hihgl .hl_font {
        font-family: RIDI;
        font-size: 40px;
        padding-top: 16px;
        color: #333333; }
    #movMain #cnt1 .cha_info .bg_full {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-background-size: cover !important;
      -moz-background-size: cover !important;
      background-size: cover !important;
      position: absolute;
      top: 3345px;
      left: 0;
      width: 100%;
      height: 640px;
      background: url("../images/theSoop/bg_full_mid2.jpg") no-repeat fixed top;
      z-index: -1; }
    #movMain #cnt1 .cha_info .tit {
      margin-top: 300px; }
    #movMain #cnt1 .cha_info .soopie3.on {
      -webkit-animation-name: movcha;
      -webkit-animation-duration: 1s;
      -webkit-animation-timing-function: ease;
      -webkit-animation-delay: 0s;
      -webkit-animation-iteration-count: 1;
      -webkit-animation-fill-mode: backwards;
      -moz-animation-name: movcha;
      -moz-animation-duration: 1s;
      -moz-animation-timing-function: ease;
      -moz-animation-delay: 0s;
      -moz-animation-iteration-count: 1;
      -moz-animation-fill-mode: backwards;
      -o-animation-name: movcha;
      -o-animation-duration: 1s;
      -o-animation-timing-function: ease;
      -o-animation-delay: 0s;
      -o-animation-iteration-count: 1;
      -o-animation-fill-mode: backwards;
      animation-name: movcha;
      animation-duration: 1s;
      animation-timing-function: ease;
      animation-delay: 0s;
      animation-iteration-count: 1;
      animation-fill-mode: backwards;
      position: absolute;
      width: 480px;
      height: 523px;
      top: 3188px;
      left: calc(50% - 100px);
      background: url("../images/theSoop/3d_soopie3.png") no-repeat center; }
@keyframes movcha {
  100% {
    transform: translateX(0);
    opacity: 1; }
  0% {
    transform: translateX(120px);
    opacity: 0; } }
    #movMain #cnt1 .other_view {
      position: relative;
      margin-top: 140px;
      width: 100%;
      height: 660px; }
      #movMain #cnt1 .other_view .tit {
        position: absolute;
        top: 80px;
        left: 460px; }
      #movMain #cnt1 .other_view ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 100%;
        height: 100%; }
        #movMain #cnt1 .other_view ul li {
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden; }
        #movMain #cnt1 .other_view ul .m_gnb {
          position: relative;
          top: 80px;
          left: 0;
          margin-left: 110px;
          background: #fff;
          opacity: 0; }
          #movMain #cnt1 .other_view ul .m_gnb .devi2 {
            -webkit-animation-name: movother1;
            -webkit-animation-duration: 4s;
            -webkit-animation-timing-function: ease-in-out;
            -webkit-animation-delay: 0s;
            -webkit-animation-iteration-count: infinite;
            -webkit-animation-fill-mode: backwards;
            -moz-animation-name: movother1;
            -moz-animation-duration: 4s;
            -moz-animation-timing-function: ease-in-out;
            -moz-animation-delay: 0s;
            -moz-animation-iteration-count: infinite;
            -moz-animation-fill-mode: backwards;
            -o-animation-name: movother1;
            -o-animation-duration: 4s;
            -o-animation-timing-function: ease-in-out;
            -o-animation-delay: 0s;
            -o-animation-iteration-count: infinite;
            -o-animation-fill-mode: backwards;
            animation-name: movother1;
            animation-duration: 4s;
            animation-timing-function: ease-in-out;
            animation-delay: 0s;
            animation-iteration-count: infinite;
            animation-fill-mode: backwards;
            width: 100%;
            height: 696px;
            background: url("../images/theSoop/mview_gnb_1x.jpg") no-repeat top; }
@keyframes movother1 {
  100% {
    transform: translateY(88px); }
  70% {
    transform: translateY(-88px); }
  50% {
    transform: translateY(-88px); }
  20% {
    transform: translateY(88px); }
  0% {
    transform: translateY(88px); } }
        #movMain #cnt1 .other_view ul .m_sub {
          position: relative;
          top: -80px;
          left: 0;
          margin-left: 40px;
          margin-top: 140px; }
          #movMain #cnt1 .other_view ul .m_sub .devi3 {
            -webkit-animation-name: movother2;
            -webkit-animation-duration: 8s;
            -webkit-animation-timing-function: ease-in-out;
            -webkit-animation-delay: 0s;
            -webkit-animation-iteration-count: infinite;
            -webkit-animation-fill-mode: backwards;
            -moz-animation-name: movother2;
            -moz-animation-duration: 8s;
            -moz-animation-timing-function: ease-in-out;
            -moz-animation-delay: 0s;
            -moz-animation-iteration-count: infinite;
            -moz-animation-fill-mode: backwards;
            -o-animation-name: movother2;
            -o-animation-duration: 8s;
            -o-animation-timing-function: ease-in-out;
            -o-animation-delay: 0s;
            -o-animation-iteration-count: infinite;
            -o-animation-fill-mode: backwards;
            animation-name: movother2;
            animation-duration: 8s;
            animation-timing-function: ease-in-out;
            animation-delay: 0s;
            animation-iteration-count: infinite;
            animation-fill-mode: backwards;
            width: 100%;
            height: 1627px;
            background: url("../images/theSoop/mview_sub_1x.jpg") no-repeat top; }
@keyframes movother2 {
  100% {
    transform: translateY(-580px); }
  70% {
    transform: translateY(560px); }
  50% {
    transform: translateY(560px); }
  10% {
    transform: translateY(-580px); }
  0% {
    transform: translateY(-580px); } }
  #movMain #cnt2 {
    margin-top: 160px; }
    #movMain #cnt2 .tit_txt {
      margin-bottom: 80px; }
      #movMain #cnt2 .tit_txt h3, #movMain #cnt2 .tit_txt p {
        display: inline-block; }
      #movMain #cnt2 .tit_txt h3 {
        font-size: 20px;
        line-height: 24px; }
        #movMain #cnt2 .tit_txt h3 span {
          display: block; }
      #movMain #cnt2 .tit_txt p {
        font-size: 14px;
        line-height: 20px;
        margin-left: 40px;
        color: #595959; }
    #movMain #cnt2 ul {
      width: 100%; }
      #movMain #cnt2 ul li {
        height: 320px; }
      #movMain #cnt2 ul .list {
        font-size: 14px;
        line-height: 20px;
        color: #333333; }
        #movMain #cnt2 ul .list ul > li {
          width: 290px;
          float: right; }
          #movMain #cnt2 ul .list ul > li strong {
            font-weight: 400;
            display: block;
            margin-top: 40px; }
            #movMain #cnt2 ul .list ul > li strong span {
              display: block;
              font-size: 20px;
              margin-bottom: 8px; }
          #movMain #cnt2 ul .list ul > li .sub_txt {
            margin-top: 60px; }
          #movMain #cnt2 ul .list ul > li .sub_txt + p {
            font-family: NtSansKR;
            color: #595959;
            margin-top: 12px; }
        #movMain #cnt2 ul .list .capture {
          width: 550px;
          height: 320px;
          background: no-repeat center;
          margin-right: 40px;
          margin-bottom: 80px; }
          #movMain #cnt2 ul .list .capture div {
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;
            width: 100%;
            height: 100%;
            border: 1px solid #e5e5e5; }
          #movMain #cnt2 ul .list .capture .img_ac1 {
            background-image: url("../images/theSoop/ac_img1.jpg"); }
          #movMain #cnt2 ul .list .capture .img_ac2 {
            background: #333333; }
            #movMain #cnt2 ul .list .capture .img_ac2 pre code {
              font-family: NtSansKR;
              color: #e5e5e5; }
              #movMain #cnt2 ul .list .capture .img_ac2 pre code span {
                color: #88B14B; }
          #movMain #cnt2 ul .list .capture .img_ac3 {
            background-image: url("../images/theSoop/ac_img3.jpg"); }
      #movMain #cnt2 ul .ac1 {
        margin-top: 80px; }
      #movMain #cnt2 ul .ac2 ul li {
        float: left; }
      #movMain #cnt2 ul .ac2 .capture {
        margin-right: 0;
        margin-left: 40px; }
  #movMain #footer {
    width: 100%;
    height: 240px;
    margin-top: 200px; }
    #movMain #footer .btn_area {
      width: 100%;
      color: #333333;
      padding-top: 60px; }
      #movMain #footer .btn_area ul li {
        float: left;
        height: 100px;
        width: 220px; }
        #movMain #footer .btn_area ul li + li {
          margin-left: 40px; }
        #movMain #footer .btn_area ul li > p, #movMain #footer .btn_area ul li a {
          font-weight: 700; }
      #movMain #footer .btn_area .ft_txt1 p {
        line-height: 20px; }
      #movMain #footer .btn_area .ft_txt2 p, #movMain #footer .btn_area .ft_txt3 p {
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        font-size: 12px;
        margin-top: 20px;
        font-weight: 400;
        line-height: 20px;
        opacity: 0; }
      #movMain #footer .btn_area .ft_txt2 a, #movMain #footer .btn_area .ft_txt3 a {
        display: inline-block;
        line-height: 20px;
        position: relative; }
      #movMain #footer .btn_area .ft_txt2 a::before, #movMain #footer .btn_area .ft_txt3 a::before {
        -webkit-transition: width 0.3s;
        -moz-transition: width 0.3s;
        -o-transition: width 0.3s;
        transition: width 0.3s;
        content: "";
        position: absolute;
        bottom: -6px;
        left: 0;
        width: 0;
        height: 2px;
        background: #333333; }
      #movMain #footer .btn_area .ft_txt2.on a:hover + p, #movMain #footer .btn_area .ft_txt2.on a:focus + p, #movMain #footer .btn_area .ft_txt3.on a:hover + p, #movMain #footer .btn_area .ft_txt3.on a:focus + p {
        opacity: 1; }
      #movMain #footer .btn_area .ft_txt2.on a:hover::before, #movMain #footer .btn_area .ft_txt2.on a:focus::before, #movMain #footer .btn_area .ft_txt3.on a:hover::before, #movMain #footer .btn_area .ft_txt3.on a:focus::before {
        width: 100%; }

/*# sourceMappingURL=pj_theSoop.css.map */
